.contact-page {
  & :global(.am-tabs) {
    & :global(.am-tabs-tab-bar-wrap) {
      & :global(.am-tabs-default-bar-tab::after) {
        height: 0;
      }
    }
  }
 & .contract-list {
    width: 100%;
    overflow-y: auto;
    & li {
      padding: 0 16px;
      margin-bottom:5px;
      & p {
        height: 16px;
        line-height: 16px;
        margin: 15px 0;
        overflow: hidden;
        color:#333333;
        font-size: 15px;
        font-weight: 400;
        & span {
          color: #999999;
          font-size:15px;
        }
        & a {
          float: right;
          color: #1298FC;
          color: 16px;
          font-weight: 400
        }
      }
      & .con-p1 {
        line-height: 45px;
        height: 45px;
        font-size: 15px;
        color: #666666;
        margin: 0;
        font-weight: 100;
      }
    }
  }
}