.contact-page {
  & :global(.am-tabs) {
    & :global(.am-tabs-tab-bar-wrap) {
      & :global(.am-tabs-default-bar-tab::after) {
        height: 0;
      }
    }
  }
 & .contract-list {
    width: 100%;
    overflow-y: auto;
    & :global(.am-list-body) {
      background: #F6F5FA;
    }
    & li {
      padding: 0 16px 5px;
      margin-top:8px;
      background:white;
      & p {
        height: 14px;
        line-height: 16px;
        margin: 10px 0;
        color:#333333;
        font-size: 14px;
        font-weight: 400;
        & span {
          color: #666666;
          font-size:14px;
          font-weight: 400;
        }
        & a {
          float: right;
          color: #1298FC;
          font-size: 15px;
          font-weight: 400
        }
      }
      & .con-p1 {
        line-height: 45px;
        height: 45px;
        font-size: 14px;
        color: #666666;
        margin: 0;
        font-weight: 100;
      }
      & .con-p2 {
        & span {
          color: #999999;
        }
      }
    }
  }
}