html .leavesitu-list :global(.my-full-border:before) {
  border-color: #0467E0;
}
.leavesitu-list {
  & li {
    padding: 0 30px;
    padding-bottom: 20px;
    overflow: hidden;
    margin-top: 20px;
    & img {
      float: left;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      margin-right: 20px;
    }
    & section {
      float: left;
      & p {
        height: 22px;
        line-height: 22px;
        font-size: 16px;
      }
      & span {
        display: block;
        height: 22px;
        line-height: 22px;
        font-size: 14px;
        color: #8A96A0;
        margin-top: 8px;
      }
    }
    & footer {
      float: right;
      & a {
        display: block;
        height: 24px;
        line-height: 24px;
        padding: 0 10px;
        margin-top: 5px;
        font-size: 12px;
        color: #0467E0;
      }
      & span {
        height: 24px;
        line-height: 24px;
        margin-right: 5px;
      }
    }
   
  }
}