.settle-list {
  height: 560px;
  margin-top: 10px;
  overflow-y: auto;
  -webkit-overflow-scrolling:touch;
  &:global(.am-list .am-list-item.am-checkbox-item .am-list-thumb::first-child) {
    margin-right: 10px;
  }
  &:global(.am-list .am-list-item.am-checkbox-item .am-list-thumb .am-checkbox-inner) {
    top: 22px;
    left: 10px;
  }
  &:global(.am-list .am-list-item.am-checkbox-item .am-list-thumb .am-checkbox) {
    height: 74px;
  }
  & :global(.am-list-item) {
    padding-left: 10px;
  }
  & :global(.am-list-item .am-list-thumb:first-child) {
    margin-right: 5px;
  }
  & :global(.am-list-item .am-input-extra) {
    color:rgba(153,153,153,1);
    font-size: 14px;
    max-height: none;
    height: 34px;
    line-height: 34px;
  }
  & :global(.am-list-item .am-input-control) {
    height: 100%;
    & input {
      height: 100%;
      text-align: center;
      position: relative;
      box-sizing: border-box;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border: 1px solid #eaeaea;
      transform-origin: 0 0;
      &::before {
        content: "\0020";
        overflow: hidden;
        position: absolute;
      }
    }
  }
  & :global(.am-list-item .am-list-line) {
    padding-right: 5px;
  }
  & .price-unit {
    height: 100%;
    &.unit-error {
      color: red;
    }
  }
}
@media (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 2.49), (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 2.49), (min-device-pixel-ratio: 1.5) and (max-device-pixel-ratio: 2.49), (min-resolution: 144dpi) and (max-resolution: 239dpi), (min-resolution: 1.5dppx) and (max-resolution: 2.49dppx) {
  .settle-list {
    & :global(.am-list-item .am-input-control) {
      & input {
        &::before {
          width: 200%;
          height: 200%;
          transform: scale(.5);
        }
      }
    }
  }
}
@media (min--moz-device-pixel-ratio: 2.5), (-webkit-min-device-pixel-ratio: 2.5), (min-device-pixel-ratio: 2.5), (min-resolution: 240dpi), (min-resolution: 2.5dppx) {
  .settle-list {
    & :global(.am-list-item .am-input-control) {
      & input {
        &::before {
          width: 300%;
          height: 300%;
          transform: scale(.33333);
        }
      }
    }
  }
}
html:not([data-scale]) :global(.am-list-body div:not(:last-child)) .price :global(.am-list-line::after) {
  display: none;
}
.confirm-list {
  &:global(.am-list .am-list-item.am-checkbox-item .am-list-thumb) {
   display: none; 
  }
  & .price {
    height: 56px;
    line-height: 56px;
  }
}
.settle-list {
  & :global(.am-list-content) {
    position: relative;
  }
  & .header {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
  }
  & .settle-info {
    float: left;
    width: 140px;
    margin-top: 10px;
    margin-right: 5px;
    & h2 {
      width: 130px;
      height: 20px;
      line-height: 20px;
      color: #333;
      font-size: 14px;
      font-weight: normal;
    }
    & p {
      font-size: 14px;
      color: #666;
    }
  }
  & .price {
    position: absolute;
    z-index: 10;
    top: 8px;
    right: 0;
    color:rgba(250,107,109,1);
    font-size: 16px;
    height: 44px;
    & :global(.am-list-item.am-input-item) {
      padding-left: 5px;
      width: 134px;
      & :global(.am-list-line) {
        padding-right: 0;
        margin-top: 10px;
      }
    }
  }
}

.btn-box {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  background: #fff;
  & :global(.am-button) {
    height: 40px;
    line-height: 40px;
    background-color: rgba(0,152,245,1);
    border-radius:3px;
    font-size:15px;
    margin-top: 5px;
  }
}