.project-mange-box {
  & :global(.am-list-body::before) {
    height: 0!important;
  }
  & :global(.am-list-body::after) {
    height: 0!important;
  }
}
.project-mange-list {
  display: block;
  background: #ffffff;
  & li {
    padding: 14px 16px;
    overflow: hidden;
    & section {
      float: left;
      width: 274px;
      & h4 {
        font-weight: 400;
        color: #313F48;
        height: 24px;
        line-height: 24px;
        font-size: 16px;
      }
      & p {
        width: 274px;
        height: 20px;
        line-height: 20px;
        font-size: 12px;
        color: #313f48;
        & span {
          font-size: 16px;
        }
        & em {
          display: inline-block;
          background: #F8F8F8;
          padding: 0 3px;
          margin-left: 10px;
          height: 22px;
          line-height: 22px;
          border-radius: 3px;
        }
      }
      & time {
        font-size: 12px;
        color: #8A96A0;
        height: 20px;
        line-height: 20px;
      }
    }
    & a {
      float: right;
      font-size: 12px;
      color: #8A96A0;
      height: 60px;
      line-height: 60px;
    }
  }
  & .nodata {
    height: 80px;
    line-height: 80px;
    text-align: center;
    color: #313f48;
  }
}

html :global(.am-list-footer) {
  text-align: center;
}