
  html .invoice-list :global(.am-button-ghost::before) {
    border-color: #0467E0;
  }
  .invoiceBox {
    background: #F3F4F5;
    & .invoice-list {
      & li {
        padding:  20px;
        height: 60px;
        background: #fff;
        overflow: hidden;
        margin-top: 10px;
        & section {
          float: left;
          & p {
            font-size: 14px;
            height: 30px;
            color: #313F48;
            & span {
              color: #8A96A0;
            }
          }
        }
        & nav {
          float: right;
          height: 100%;
          line-height: 80px;
          & :global(.am-button-ghost) {
            height: 22px;
            line-height: 22px;
            font-size: 12px;
            padding:  0 22px;
            & span {
              color: #0467E0;
            }
          }
          & :global(.am-button-disabled) {
            background: #F3F4F5;
            & span {
              color: #8A96A0;
            }
          }
        }
      }
    }
  }