.pro-radio :global(.am-radio) {
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin-right: 5px;
}

html .pushOrderForm :global(.am-list-body::before) {
  height: 0;
}
html .pushOrderForm :global(.am-list-item:not(:last-child) .am-list-line::after), html .pushOrderForm :global(.am-list-item:not(:last-child) .am-list-line::before) {
  height: 0;
}
html:not([data-scale]) .pushOrderForm :global(.am-list-body div:not(:last-child) .am-list-line::after) {
  height: 0;
}

html .show-order-box :global(.am-list-body::before) {
  height: 0;
}
html .show-order-box :global(.am-list-item:not(:last-child) .am-list-line::after), html .show-order-box :global(.am-list-item:not(:last-child) .am-list-line::before) {
  height: 0;
}
html:not([data-scale]) .show-order-box :global(.am-list-body div:not(:last-child) .am-list-line::after) {
  height: 0;
}

:global(.am-calendar .content) {
  z-index: 1200;
}
.pushOrderForm {
  width: 328px;
  margin: 0 auto;
  & :global(.am-list) {
    &.input-form-list {
      height: 56px;
      margin-top: 22px;
      &.selected-form-list {
        & :global(.am-list-body .am-list-item .am-list-line .am-list-extra) {
          color: #000;
        }
      }
      & :global(.am-list-header) {
        padding: 0;
        font-size: 14px;
        color: rgba(49, 63, 72, 1);
      }
      & :global(.am-list-body) {
        height: 38px;
        & :global(.am-list-body:after) {
          height: 0;
        }
        & :global(.am-list-item) {
          padding-left: 0;
          & :global(.am-list-line) {
            padding-right: 0;
            & :global(.am-list-extra) {
              flex-basis: 92%;
              font-size: 14px;
              text-align: left;
              color: rgba(138, 150, 160, .7);
            }
            & :global(.am-input-control) {
              & :global(input) {
                font-size: 14px;
                &:global(::-webkit-input-placeholder) {
                  color: rgba(138, 150, 160, .7);
                  font-size: 14px;
                }
              }
              & :global(.fake-input-placeholder) {
                text-align: left;
                font-size: 14px;
                color: rgba(138, 150, 160, .7);
              }
            }
          }
        }
        & .text-abled {
          & :global(.am-input-control) {
            & :global(input:disabled) {
              color: #000;
            }
          }
        }
        & .pro-radio:nth-child(1) {
          margin-right: 18px;
        }
        & .pro-radio {
          &.sm-radio {
            margin-right: 8px;
          }
          display: inline-block;
          margin-top: 10px;
          & :global(.am-radio) {
            width: 11px;
            height: 11px;
            padding: 2px;
            margin-top: -2px;
            background: #fff;
            & :global(.am-radio-inner) {
              width: 11px;
              height: 11px;
            }
            & :global(.am-radio-inner:after) {
              width: 5px;
              height: 10px;
              right: 4px;
              border-color: #fff;
            }
          }
          & :global(.am-radio-checked) {
            background: #108ee9;
            border-color: #108ee9;
          }
        }
        & :global(.am-icon-right) {
          position: absolute;
          top: 10px;
          right: 2px;
        }
      }
    }
    
    &.sminput-form-list {
      height: 112px;
      & :global(.am-list-body) {
        & .daoicon {
          float: left;
          height: 44px;
          line-height: 44px;
          margin: 0 3%;
        }
        & .timeinput-item {
          width: 45%;
          float: left;
          & em {
            float: left;
            height: 44px;
            line-height: 44px;
            margin:0 1.5%;
          }
          & :global(.am-list-item) {
            float: left;
            width: 45%;
            & :global(.am-input-control) {
              & input {
                width: 100%;
                text-align: center;
                &:global(::placeholder) {
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }

    &.radio-form-list {
      & :global(.am-list-body) {
        height: 56px;
        line-height: 56px;
        & label {
          font-size: 12px;
          color: rgba(0, 0, 0, 0.65);
          &:nth-child(1) {
            margin-right: 70px;
          }
          & :global(.am-radio) {
            width: 7px;
            height: 7px;
            margin-top: -2px;
            & :global(.am-radio-inner:after) {
            width: 5px;
            height: 10px;
            right: 3px;
            top: -3px;
            }
          }
        }
      }
    }

    &.textarea-form-list {
      margin-top: 18px;
      & :global(.am-list-header) {
        padding: 0;
        font-size: 14px;
        color: rgba(49, 63, 72, 1);
      }
      & :global(.am-list-body) {
        margin-top: 10px;
        & :global(.am-textarea-item) {
          overflow: inherit;
          padding: 0;
          & :global(.am-textarea-control) {
            & :global(textarea) {
              width: 310px;
              margin: 0 auto;
              font-size: 14px;
              &:global(::placeholder){
                color: rgba(138, 150, 160, .7);
                font-size: 14px;
              }
            }
          }
        }
      }
    }

  }

  & :global(.rc-upload) {
    display: block;
    width: 60px;
    height: 60px;
    margin-top: 10px;
  }

  & .push-title {
    font-size: 14px;
    color: #313f48;
    height: 20px;
    line-height: 20px;
    margin-top: 15px;
  }
}


.push-upload-icon {
  font-size: 60px;
}

.file-list {
  width: 320px;
  margin-top: 10px;
  -webkit-padding-start: 0;
  & li {
    height: 26px;
    margin-bottom: 5px;
    line-height: 26px;
    overflow: hidden;
    & .file-list-icon {
      float: left;
      width: 16px;
      height: 16px;
      margin-top: 5px;
    }
    & a {
      float: left;
      width: 280px;
      line-height: 26px;
      font-size: 14px;
      margin-left: 5px;
      color: #1890ff;
      overflow:hidden;
      white-space:nowrap;
      -o-text-overflow:ellipsis;
      text-overflow:ellipsis;
    }
    & i {
      float: right;
      width: 14px;
      text-align: center;
      font-style: normal;
      color: #ccc;
    }
  }
}

.show-order-box {
  width: 330px;
  margin: 0 auto;
  & :global(.am-list) {
    height: 56px;
    margin-top: 10px;
    &.attch-list {
      height: auto;
      & :global(.am-list-body) {
        height: auto;
        line-height: auto;
      }
    }

    &.remark-desc {
      height: auto;
      & :global(.am-list-body) {
        height: auto;
      }
    }

    & :global(.am-list-header) {
      padding: 0;
      height: 32px;
      line-height: 32px;
      color: rgba(138, 150, 160, .8);
      font-size: 14px;
    }

    & :global(.am-list-body) {
      color: #313F48;
      height: 22px;
      line-height: 22px;
    }
    
  }
  & :global(.am-button-primary) {
    margin: 24px 0;
  }
}
