/*
* @Author: chengbs
* @Date:   2018-04-10 15:19:22
* @Last Modified by:   baosheng
* @Last Modified time: 2018-07-07 20:46:01
*/
html .show-order-box :global(.am-list-body::before) {
  height: 0;
}
html .show-order-box :global(.am-list-item:not(:last-child) .am-list-line::after), html .show-order-box :global(.am-list-item:not(:last-child) .am-list-line::before) {
  height: 0;
}
html:not([data-scale]) .show-order-box :global(.am-list-body div:not(:last-child) .am-list-line::after) {
  height: 0;
}
.show-order-box {
  width: 330px;
  margin: 0 auto;
  & :global(.am-list) {
    height: 56px;
    margin-top: 10px;
    &.attch-list {
      height: auto;
      & :global(.am-list-body) {
        height: auto;
        line-height: auto;
      }
    }
    & :global(.am-list-header) {
      padding: 0;
      height: 32px;
      line-height: 32px;
      color: rgba(138, 150, 160, .8);
      font-size: 14px;
    }
    & :global(.am-list-body) {
      color: #313F48;
      height: 22px;
      line-height: 22px;
    }
  }
}
