/*
* @Author: baosheng
* @Date:   2018-08-14 19:10:58
* @Last Modified by:   baosheng
* @Last Modified time: 2018-08-14 20:44:21
*/
.textarea-suggest-box {
  & :global(.am-list-item) {
    padding: 10px;
    & :global(.am-textarea-control) {
      & textarea {
        width: 344px;
        padding: 5px;
        font-size: 14px;
        border:1Px solid #ccc;
      }
    }
    & :global(.am-textarea-count) {
      bottom: 0;
      right: 10px;
    }
  }
}