
.home-silder {
  width: 100%;
  height: 200px;
  & :global(.slider-list) {
    height: 200px!important;
  }
  & img {
    display: block;
    width: 100%;
    height: 200px;
  }
}

.flex-container {
  background:white;
  padding: 10px  0;
  & :global(.am-flexbox-item:first-child) {
    margin-left: 4px;
  }
}
.pushtype-btn {
  width: 52px;
  height: 72px;
  margin-left: 26px;
  & img {
    display: block;
    width: 49px;
    height: 49px;
    border-radius: 24px;
    margin: 0 auto;
  }
  & .pushtype-text {
    color: #333333;
    text-align: center;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
  }
}

.notice-container {
  width: 100%;
  height: 60px;
  /* line-height: 34px; */
  position: relative;
  margin-top: 8px;
  overflow: hidden;
  background:white;
  & img {
    float: left;
    width: 50px;
    height: 45px;
    margin-top: 8px;
    margin-left: 15px;
  }
  & .home-more {
    color: #666666;
    position: absolute;
    right:10px;
    top:25px;
    display: flex;
    font-size: 12px;
    align-items: center;
    & svg {
      width: 13px;
      height: 13px;
    }
  }
  & :global(.am-wingblank) {
    float: left;
    width: 260px;
    margin-right: 8px;
    margin-left:0px;
    & :global(.slider-frame) {
      height: 60px!important;
      & :global(.slider-slide) {
        height: 30px!important;
      }
    }
  }
  & .v-item {
    height: 30px;
    font-size: 13px;
    color: #333333;
    line-height: 30px;
    & p {
      line-height:30px;
      & span {
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background: #434343;
        display: inline-block;
        margin-right: 5px;
        vertical-align: middle;
      }
    float: left;
    padding-left: 10px;
    width: 253px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family:SourceHanSansCN-Regular;
    font-weight:400;
    }
  }
}
.home-list {
  padding: 15px;
  background:white;
  margin-top: 8px;
  & dl {
    box-shadow:0px 2px 9px 0px rgba(37,99,213,0.14);
    border-radius:6px;
    margin-bottom: 10px;
    & dt {
      box-sizing:border-box;
      height: 40px;
      line-height: 40px;
      font-size:16px;
      color:#333333;
      font-family:SourceHanSansCN-Medium;
      font-weight:500;
      & em {
        float: left;
        width: 2px;
        height: 40px;
        display: block;
        margin-right:6px;
        background: #1298FC;
        border-top-left-radius: 6px;
      }
      & div {
        float: right;
        margin-right:5px;
        display: flex;
        font-size: 12px;
        align-items: center;
        color: #999999;
        & svg {
          width: 14px;
          height: 14px;
        }
      }
    }
    & dd {
      display: flex;
      justify-content: space-around;
      & div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        width: 50%;
        height: 57px;
        margin: 5px 0;
        & span {
          font-size:16px;
          font-family:SourceHanSansCN-Medium;
          font-weight:500;
        }
        & .home-mark{
          color: #FA6B6D;
        }
        & b {
          font-size:13px;
          font-family:SourceHanSansCN-Regular;
          font-weight:400;
          color: #999999;
        }
      }
    }
  }
  & .home-footer {
    justify-content: center;
    height: 42px;
    display: flex;
    align-items: center;
    & img {
      display: block;
      width: 194px;
      height: 10px;
    }
  }
}