
.home-silder {
  width: 100%;
  height: 200px;
  & :global(.slider-list) {
    height: 200px!important;
  }
  & img {
    display: block;
    width: 100%;
    height: 200px;
  }
}

.flex-container {
  background:white;
  padding: 10px  10px 15px 10px;
  & :global(.am-flexbox-item:first-child) {
    margin-left: 4px;
  }
}
.pushtype-btn {
  width: 52px;
  height: 72px;
  margin-left: 26px;
  & img {
    display: block;
    width: 49px;
    height: 49px;
    border-radius: 24px;
    margin: 0 auto;
  }
  & .pushtype-text {
      height:12px;
      font-size:12px;
      font-family:SourceHanSansCN-Regular;
      font-weight:400;
      color:rgba(51,51,51,1);
      margin-top: 8px;
      text-align: center;
  }
}
.usr-home-content {
  & .notice-container {
    width: 100%;
    height: 60px;
    /* line-height: 34px; */
    position: relative;
    margin-top: 8px;
    overflow: hidden;
    background:white;
    & img {
      float: left;
      width: 50px;
      height: 45px;
      margin-top: 8px;
      margin-left: 15px;
    }
    & .home-more {
      color: #666666;
      position: absolute;
      right:10px;
      top:23px;
      display: flex;
      font-size: 12px;
      align-items: center;
      & svg {
        width: 13px;
        height: 13px;
      }
    }
    & :global(.am-wingblank) {
      float: left;
      width: 260px;
      margin-right: 8px;
      margin-left:0px;
      & :global(.slider-frame) {
        height: 60px!important;
        /* & :global(.slider-slide) {
          height: 30px!important;
        } */
      }
    }
    & .v-item-one {
      height: 60px!important;
      line-height: 60px;
      font-size: 13px;
      color: #333333;
      & p {
        float: left;
        padding-left: 10px;
        width: 253px;
        font-family:SourceHanSansCN-Regular;
        font-weight:400;
        & span {
          width: 3px;
          height: 3px;
          border-radius: 50%;
          background: #434343;
          display: inline-block;
          margin-right: 5px;
          vertical-align: middle;
        }
      }
    }
    & .v-item {
      height: 60px!important;
      font-size: 13px;
      color: #333333;
      padding: 11.5px 0;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      & p {
        /* height: 30px;
        line-height: 20px; */
        float: left;
        padding-left: 15px;
        width: 253px;
        font-family:SourceHanSansCN-Regular;
        font-weight:400;
        & span {
          width: 3px;
          height: 3px;
          border-radius: 50%;
          background: #434343;
          display: inline-block;
          margin-right: 5px;
          vertical-align: middle;
        }
      }
    }

  }
}
.home-list {
  padding: 15px;
  background:white;
  margin-top: 8px;
  & dl {
    box-shadow:0px 2px 9px 0px rgba(37,99,213,0.14);
    border-radius:6px;
    margin-bottom: 10px;
    & dt {
      box-sizing:border-box;
      height: 40px;
      line-height: 40px;
      font-size:16px;
      color:#333333;
      font-family:SourceHanSansCN-Medium;
      font-weight:600;
      border-bottom: 1px solid #f5f5f9;
      & em {
        float: left;
        width: 2px;
        height: 40px;
        display: block;
        margin-right:6px;
        background: #1298FC;
        border-top-left-radius: 6px;
      }
      & div {
        float: right;
        margin-right:5px;
        display: flex;
        font-size: 12px;
        align-items: center;
        color: #999999;
        font-weight: 400;
        & svg {
          width: 14px;
          height: 14px;
        }
      }
    }
    & dd {
      display: flex;
      justify-content: space-around;
      & div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        width: 50%;
        height: 57px;
        margin: 5px 0;
        & span {
          font-size:18px;
          font-family:SourceHanSansCN-Medium;
          font-weight:500;
        }
        & .home-mark{
          color: #FA6B6D;
        }
        & b {
          font-size:13px;
          font-family:SourceHanSansCN-Regular;
          font-weight:400;
          color: #999999;
          margin-bottom: 5px;
        }
      }
    }
  }
  & .home-footer {
    justify-content: center;
    height: 42px;
    display: flex;
    align-items: center;
    & img {
      display: block;
      width: 194px;
      height: 10px;
    }
  }
}
.data {
  height: 60px;
  line-height: 60px;
  padding-left: 160px;
  font-size: 12px;
  color: #666;
}