.money-box {
  width: 100%;
  height: 70px;
  padding-top: 10px;
  background: #1298fc;
  & strong {
    color: #fff;
    font-size: 18px;
    display: block;
    text-align: center;
    line-height: 34px;
    font-weight: normal;
    text-align: center;
  }
  & p {
    line-height: 24px;
    color: #fff;
    font-size: 12px;
    text-align: center;
  }
}
.settle-box {
  height: 542px;
  -webkit-overflow-scrolling:touch;
  overflow-y: auto;
}
.settle-list {
  & .header {
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
  }
  & .settle-info {
    float: left;
    height: 60px;
    line-height: 60px;
    color: #333;
    font-size: 15px;
    font-weight: normal;
  }
  & .settle-workload {
    height: 60px;
    line-height: 60px;
    float: right;
    font-size: 14px;
    color: #666;
  }
  & .price {
    float: right;
    color:rgba(250,107,109,1);
    font-size: 16px;
    line-height: 62px;
  }
}