/* .worklist-detail-box {
  padding-bottom: 50px;
} */
html:not([data-scale]) :global(.pageBox) {
  & .worklist-detail-box {
    padding-bottom: 26px;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    & :global(.am-list-body div:not(:last-child) .am-list-line:after) {
      transform-origin: 50% 100%;
      -webkit-transform-origin:  50% 100%;
    }
  }
}
.modal-title {
  height: 44px;
  line-height: 44px;
  color: #333333;
  font-size: 15px;
  text-indent: 15px;
  font-weight:400;
  background: #fff;
}
.detail-head {
  background: #fff;
  padding: 10px;
  & dt {
    height: 60px;
    & h2 {
      height: 30px;
      line-height: 30px;
      font-size: 16px;
      font-weight: 500;
      color: #333;
      font-size: 17px;
      overflow: hidden;
      & em {
        float: left;
        width: 308px;
        height: 30px;
      }
      & :global(.typericon) {
        float: left;
        margin-top: 5px;
      }
    }
    & p {
      font-size: 13px;
      color: #999;
      height: 22px;
      line-height: 22px;
    }
  }
  & dd {
    overflow: hidden;
    & p {
      float: left;
      width: 118px;
      height: 48px;
      margin-top: 10px;
      & em {
        display: block;
        text-align: center;
        height: 24px;
        font-size: 13px;
        line-height: 24px;
        color: #999;
      }
      & span {
        display: block;
        height: 24px;
        font-size: 15px;
        line-height: 24px;
        text-align: center;
        color: #FA6B6D;
      }
    }
  }
}

.operate-list {
  background: #fff;
  & ul {
    padding: 5px 10px;
    margin-top: 5px;
    overflow: hidden;
    & li {
      float: left;
      width: 60px;
      height: 60px;
      margin: 8px 14px;
      float: left;
      text-align: center;
      & svg {
        margin: 0 auto;
        font-size: 28px;
        color: #333;
      }
      & p {
        height: 30px;
        line-height: 30px;
        color: #333333;
        font-size: 12px;
      }
      &.disabled{
        & svg {
          color: #A8A8A8;
        }
        & p {
          color: #A8A8A8;
        }
      }
    }
  }
}

.body-list {
  padding-bottom: 15px;
  background: #fff;
  & p {
    padding-left: 15px;
    padding-right: 15px;
    line-height: 20px;
    font-size: 14px;
    margin-top: 6px;
    overflow: hidden;
    & em {
      float: left;
      color: #999999;
    }
    & span {
      float: right;
      color: #333333;
    }
  }
}

.addressBox {
  padding: 15px;
  padding-top: 0;
  background: #fff;
  position: relative;
  & .address-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
.address-mapbox {
  height: 240px;
  background: #fff;
}

:global(.amap-icon img) {
  width: 25px;
  height: 34px;
}

.address-title {
  line-height: 44px;
  height: 44px;
  font-size: 15px;
  background: #fff;
  color: #333333;
  padding-left: 15px;
}

.btn-box {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  & :global(.am-button) {
    height: 40px;
    line-height:40px;
    background:linear-gradient(0deg,rgba(18,152,252,1) 0%,rgba(91,185,255,1) 100%);
    border-radius:7px;
    margin-top: 5px;
    font-size: 17px;
  }
  &.onebtn {
    & :global(.am-button) {
      display: block;
      margin: 4px auto;
      width: 316px;
    }
  }
  &.twobtn {
    & :global(.am-button) {
      width: 47%;
      margin-left: 2%;
    }
  }
  &.threebtn {
    & :global(.am-button) {
      width: 31%;
      margin-left: 1.75%;
    }
  }
}

.file-list {
  background: #fff;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  & li {
    width: 112px;
    height: 90px;
    margin-top: 10px;
    margin-left: 9px;
  }
}