/* .worklist-detail-box {
  padding-bottom: 50px;
} */
html:not([data-scale]) :global(.pageBox) {
  & .worklist-detail-box {
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    & :global(.am-list-body div:not(:last-child) .am-list-line:after) {
      transform-origin: 50% 100%;
      -webkit-transform-origin:  50% 100%;
    }
  }
}
.detail-head {
  background: #fff;
  padding: 10px;
  & dt {
    height: 60px;
    & h2 {
      height: 30px;
      line-height: 30px;
      font-size: 16px;
      font-weight: 400;
      color: #313f48;
      overflow: hidden;
      & em {
        float: left;
        width: 308px;
        height: 30px;
      }
      & .typericon {
        float: left;
        padding: 0 3px;
        background-color: #fff;
        margin-top: 5px;
        margin-right: 4px;
        & sup {
          color: #0467e0;
          border-radius: 4px;
          background: none;
          line-height: 20px;
        }
      }
    }
    & p {
      font-size: 12px;
      color: #666;
      height: 22px;
      line-height: 22px;
    }
  }
  & dd {
    overflow: hidden;
    & p {
      float: left;
      width: 118px;
      height: 48px;
      margin-top: 10px;
      & em {
        display: block;
        text-align: center;
        height: 24px;
        line-height: 24px;
        color: #313f48;
      }
      & span {
        display: block;
        height: 24px;
        line-height: 24px;
        text-align: center;
        color: #c40808;
      }
    }
  }
}

.body-list {
  padding: 5px 15px;
  background: #fff;
  & p {
    line-height: 20px;
    color: #313f48;
    margin-top: 6px;
  }
}

.addressBox {
  padding-bottom: 10px;
  background: #fff;
  position: relative;
  & .address-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
.address-mapbox {
  height: 240px;
  background: #fff;
}

:global(.amap-icon img) {
  width: 25px;
  height: 34px;
}

.address-title {
  line-height: 24px;
  background: #fff;
  color: #313f48;
  padding: 5px 15px;
}

.btn-box {
  width: 100%;
  height: 46px;
  position: absolute;
  bottom: 0;
  left: 0;
  & :global(.am-button) {
    height: 36px;
    line-height: 36px;
    background: #0467e0;
    margin-top: 4px;
    font-size: 14px;
  }
  &.onebtn {
    & :global(.am-button) {
      display: block;
      margin: 4px auto;
      width: 94%;
    }
  }
  &.twobtn {
    & :global(.am-button) {
      width: 47%;
      margin-left: 2%;
    }
  }
  &.threebtn {
    & :global(.am-button) {
      width: 31%;
      margin-left: 1.75%;
    }
  }
}

.file-list {
  padding: 10px;
  padding-top: 0;
  margin-top: 10px;
  background: #fff;
  &>p {
    height: 32px;
    line-height: 32px;
    color: #313f48;
    font-size: 14px;
    text-indent: 6px;
  }
  & li {
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    padding-left: 4px;
    & .file-list-icon {
      float: left;
      width: 16px;
      height: 16px;
      margin-top: 5px;
    }
    & a {
      float: left;
      width: 328px;
      line-height: 26px;
      font-size: 14px;
      margin-left: 5px;
      color: #1890ff;
      overflow:hidden;
      white-space:nowrap;
      -o-text-overflow:ellipsis;
      text-overflow:ellipsis;
    }
    & i {
      float: right;
      width: 14px;
      text-align: center;
      font-style: normal;
      color: #ccc;
    }
  }
}