
.check {
  /* height: 100%; */
  box-sizing: border-box;
  background: #1298FC;
  padding-top: 18px;
  & .check-info {
    display: block;
    /* padding: 12px; */
    /* height: 100%; */
    box-shadow:9px -3px 15px 0px rgba(10,94,163,0.21);
    box-sizing: border-box;
    border-radius:25px 25px 0px 0px;
    & .loading {
      width: 351px;
      height: 351px;
      text-align: center;
      line-height: 351px;
      & :global(.am-activity-indicator) {
        margin-left: 120px;
      }
    }
    & .map-box {
      height: 363px;
      border-radius:25px 25px 0px 0px;
      & :global(#mapContainer) {
        height: 363px;
        border-radius:25px 25px 0px 0px;
        & :global(.amap-marker-label) {
          border:none;
          background:none;
          & img {
            display: block;
            width: 80px;
            height: 35px;
          }
        }
        & :global(.amap-marker .amap-marker-content) {
            & img {
              width: 19px;
              height: 33px;
            }
        }
       }
    }

  }
  & .daikaoqin {
    position: absolute;
    right: 12px;
    top: 43px;
    width:66px;
    height:66px;
    background:rgba(18,152,252,1);
    box-shadow:0px 1px 9px 0px rgba(0,89,155,0.52);
    border-radius:50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-size: 13px;
    & img {
      display: inline-block;
      width: 22px;
      height: 22px;
      padding-top: 12px;
      padding-bottom: 4px;
    }
  }
}
html:not([data-scale]) .check .btnCheck2:before {
  border: none
}
html:not([data-scale]) .check .btnCheck:before {
  border: none
}
html:not([data-scale]) .btnCheck {
  top:55px; 
  position: absolute;
  display: inline-block;
  left: 124px;
  width:126px;
  height:126px;
  background:linear-gradient(0deg,rgba(18,152,252,1) 0%,rgba(91,185,255,1) 100%);
  box-shadow:-1px 4px 12px 0px rgba(6,108,221,0.47);
  border-radius:50%;
  white-space: normal;
  border: none;
  & .btn-title {
    display: inline-block;
    width: 100%;
    position: absolute;
    left: 0;
    top: 33%;
    height: 28px;
    line-height: 28px;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
  }
  & .time {
    display: inline-block;
    position: absolute;
    letter-spacing: 1Px;
    top: 63%;
    left: 0;
    width: 100%;
    height: 20px;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
  }
}
html:not([data-scale]) .btnCheck2 {
  background:linear-gradient(0deg,rgba(251,171,57,1) 0%,rgba(255,220,129,1) 100%);
  box-shadow:-1px 4px 12px 0px rgba(224,131,1,0.48);
  border:none;
}
.time-box {
  background: white;
  height: 240px;
  position: relative;
  & .check-input {
    opacity: 0;
    z-index: 100;
    position: absolute;
    top: 55px;
    left: 124px;
    display: inline-block;
    width: 126px;
    height: 126px;
    line-height: normal;
    border-radius: 50%;
    background-color: rgba(4, 103, 224, 1);
    box-shadow: 0px 2px 4px 0px rgba(4, 103, 224, 0.5);
    white-space: normal;
    border:none;
  }
  & .position-info {
    position: absolute;
    top: 195px;
    left: 50%;
    transform: translateX(-50%);
    width:300px;
    text-align: center;
    & span{
      vertical-align: middle;
      padding-left: 5px;
      font-size: 12px;
      color: #8A96A0;
    }
    & svg{
      vertical-align: middle;
      font-size: 0;
      width: 14px;
      height: 14px;
    }
    & a {
      font-size: 12px;
      color: #3296FA;
    }
  }
}
html:not([data-scale]) .time-box-dw :global(.am-list-body::before) {
  height: 0;
}
html:not([data-scale]) .time-box :global(.am-list-body::before) {
  height: 0;
}
.time-box-dw {
  position: relative;
  bottom: 0;
  height: 240px;
  background: #fff;
  border-radius:25px 25px 0px 0px;
  width: 100%;
  & :global(.am-list-body) {
    border-radius: 25px 25px 0 0;
  }
  & :global(.am-list-item) {
    border-radius: 25px 25px 0 0;
  }
}
.drawer-list {
  & :global(.am-drawer-overlay) {
    background:rgba(18,152,252,1)
  }
  & :global(.am-drawer-sidebar) {
    z-index: 1000;
    background: #1298FC;
    height: 100%;
    & .dw-header {
      font-size: 18px;
      color: #fff;
      text-align: center;
      padding: 14px;
      & svg {
        float: right;
        font-size: 14px;
        padding-top: 3px;
      }
    }
    & .dw-content {
      flex: 1;
      overflow:scroll;
      background: #1298FC;
      padding: 14px 8px 0;
      & .dw-list {
        float: left;
        padding: 0 10px 34px;
        height: 60px;
        text-align: center;
        & .img-box {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          border: 3px solid #fff;
          position: relative;
          & .img-check {
            display: block;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            position: absolute;
            right: -9px;
            top: 30px;
          }
        }
        & img {
          display: block;
          width:50px;
          height:50px;
          border-radius:50%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center top;
        }
        & span {
          font-size: 12px;
          color: #fff;
          line-height: 26px;
          display: inline-block;
          width: 50px;
          text-align: center;
        }
      }
    }
  }
  & :global(.am-drawer-overlay) {
    background: #1298FC;
  }
}
 html :global(.am-modal-wrap) {
  & :global(.am-modal-title) {
    line-height: 20px
  }
}
.success-img {
  display: block;
  width:179px;
  height: 30px;
}
.success-msg {
  box-sizing: border-box;
  & .sc-time {
    overflow: hidden;
    padding-left: 15px;
    padding-bottom: 26px;
    & .sc-sq {
      float: left;
      width:49px;
      height:49px;
      border:1px solid rgba(153,153,153,1);
      border-radius:5px;
      line-height: 49px;
      text-align: center;
      font-size:25px;
      font-family:SourceHanSansCN-Medium;
      font-weight:500;
      color:rgba(102,102,102,1);
    }
    & .sc-empty {
      width: 20px;
      height: 49px;
      float: left;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      align-items: center;
      & span {
        display: block;
        width: 4px;
        height: 4px;
        background:rgba(193,193,193,1);
      }
      & :nth-child(1) {
        margin-top: 10px;
      }
      & :nth-child(2) {
        margin-bottom: 10px;
      }
    }
  }
  & p {
    text-align: left;
    line-height: 22px;
    color: #666;
    font-size: 15px;
  }
}
html :global(#am-modal-container) {
  color: red;
  & :global(.am-modal-transparent) {
    width: 277px;
    & :global(.am-modal-content) {
      padding-top: 0;
      border-radius: 10px;
      & :global(.am-modal-header) {
        padding:0;
      }
      & :global(.am-modal-body) {
        padding:0 27px 27px;
      }
      & :global(.am-modal-title) {
        height: 103px;
        display: flex;
        justify-content:center;
        align-items: center;
      }
      & :global(.am-modal-footer) {
        & :global(.am-modal-button) {
          font-size: 17px!important;
          color: #009AFC!important;
        }
      }
    }
  }
}

