/*
* @Author: baosheng
* @Date:   2018-08-12 15:02:48
* @Last Modified by:   baosheng
* @Last Modified time: 2018-08-12 15:02:57
*/
.message-icon {
  display: block;
  width: 20px;
  height: 20px;
}
html .mine-header :global(.am-button-ghost::before) {
  border-color: #fff;
  border-radius: 26px;
}
.mine-header {
  height: 260px;
  width: 100%;
  position: relative;
  background:linear-gradient(235deg,rgba(18,152,252,1) 0%,rgba(91,185,255,1) 100%);
  & .company-set {
    padding: 5px 10px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    & a {
      color: #fff;
      font-size: 14px;
      float: right;
      & svg {
        width: 16px;
        height: 16px;
        margin-right: 2px;
      }
    }
  }
  & .company-title {
    padding: 15px;
    padding-top: 0;
    overflow: hidden;
    & dt {
      float: left;
      margin-right: 12px;
      & img {
        display: block;
        width: 66px;
        height: 66px;
        border-radius: 50%;
      }
    }
    & dd {
      float: left;
      padding-top: 4px;
      & h1 {
        margin: 0;
        font-size: 16px;
        line-height: 32px;
        font-weight:400;
        color:rgba(255,255,255,1);
      }
      & p {
        font-size: 13px;
        color:rgba(255,255,255,1);
        background:rgba(0,0,0,0.08);
        border-radius:10px;
        height: 22px;
        line-height: 22px;
        width: 110px;
        & svg {
          margin: 0 5px;
        }
      }
    }
  }
  & .company-detail {
    padding: 5px 12px;
    height: 110px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    border-radius:10px 10px 0px 0px;
    & p {
      height: 40px;
      line-height: 40px;
      overflow: hidden;
      & span {
        float: left;
        color: #333;
        font-size: 15px;
        font-weight: 400;
      }
      & a {
        float: right;
        color: #999;
        font-size: 12px;
      }
    }
    & content {
      color:rgba(102,102,102,1);
      line-height:20px;
      font-size: 13px;
      width: 350px;
      height: 58px;
      margin-top: 2px;
      overflow : hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
}

.mine-btn-list {
  border-top: 10px solid #f5f5f9;
  overflow: hidden;
  & li {
    float: left;
    width: 60px;
    height: 60px;
    margin-left: 27px;
    margin-top: 26px;
    & svg {
      display: block;
      width: 30px;
      height: 30px;
      margin: 0 auto;
    }
    & span {
      text-align: center;
      height: 22px;
      line-height: 22px;
      display: block;
      font-size: 12px;
      margin-top: 4px;
      color: #333;
    }
  }
}

