.agentcheck-list {
  & :global(.am-list-item) {
    & img {
      width: 46px;
      height: 46px;
    }
    & :global(.am-list-line-multiple) {
      padding: 10px 15px 10px 0;
    }
    & :global(.am-list-line) {
      & :global(.am-list-brief) {
        margin-top: 0;
      }
      & :global(.am-list-content) {
        line-height: 1.2;
      }
    }
  }
  & .avatar-thumb {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
  }
}