html:not([data-scale]) .invoice-box :global(.am-list-body::after) {
  height: 0;
}

html:not([data-scale]) .invoice-box :global(.am-list-body:before) {
  height: 0;
}

.invoice-box {
  & .box {
    margin-top: 9px;
    & .input-form-list {
      & :global(.am-list-content) {
        font-size: 16px;
        color: rgba(51, 51, 51, 1);
      }
      & :global(.am-list-extra) {
        color:rgba(51,51,51,1);
        font-size: 16px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-basis: 40%;
      }
      & .pro-radio {
        display: inline-block;
        & :global(.am-radio) {
          width:20px;
          height:20px;
          border:1px solid rgba(153,153,153,1);
          border-radius:50%;
          margin-right: 5px;
          & :global(.am-radio-inner) {
            width:10px;
            height:10px;
            background:white;
            border-radius:50%;
            top: 5px;
            right: 5.2px;
          }
          & :global(.am-radio-inner:after) {
           display: none;
          }
        }
        & :global(.am-radio-checked) {
          border:1px solid rgba(18,152,252,1);
          & :global(.am-radio-inner) {
            width:10px;
            height:10px;
            background:rgba(18,152,252,1);
            border-radius:50%;
            top: 5px;
            right: 5.2px;
          }
        }
      }
    }
    & .input-form-list-title {
      & :global(.am-list-extra) {
        color: rgba(153, 153, 153, 1);
        display: block;
        flex-basis: 66%;
      }
    }
   & .input-form-list-address {
     margin-top: 9px;
   }
    & :global(.am-button) {
      width:92%;
      height:40px;
      background:rgba(18,152,252,1);
      border-radius:3px;
      margin-top: 39px;
      margin-left: 15px;
      line-height: 40px;
      & span {
        font-size:15px;
        color:rgba(254,254,254,1);
      }
    }
  }
}