html:not([data-scale]) .settle-list :global(.am-list-body .am-list-item:last-child .am-list-line::after) {
  height: 0;
}
.settle-list {
  overflow: hidden;
  & :global(.am-list-header) {
    color: #313f48;
    & p {
      & span {
        margin-right: 10px;
        & i {
          color: #FA6B6D;
        }
      }
    }
  }
  & :global(.am-list-body) {
    background-color: transparent;
  }
  & .pending-model {
    background: #fff;
    padding-bottom: 8px;
    margin-top: 10px;
    &.blue {
      & dt {
        & span {
          color: #1298FC;
        }
      }
    }
    &.red {
      & dt {
        & span {
          color: #f70643;
        }
      }
    }
    &.green {
      & dt {
        & span {
          color: #029602;
        }
      }
    }
    &.gray {
      & dt {
        & span {
          color: #999;
        }
      }
    }
    & dt {
      padding: 0 10px;
      height: 44px;
      overflow: hidden;
      margin-bottom: 5px;
      & time {
        float: left;
        line-height: 44px;
        color: #666666;
        font-size:14px;
      }
      & span {
        float: right;
        font-size:14px;
        line-height: 44px;
      }
    }
    & dd {
      padding: 0 10px;
      overflow: hidden;
      & span {
        float: left;
        height: 30px;
        line-height: 30px;
        width: 32%;
        margin-right: 1%;
        color: #333;
        font-size: 14px;
        & svg {
          color: #999999;
          width: 14px;
          height: 14px;
          margin-right: 5px;
        }
        &:nth-child(3) {
          text-indent: 10px;
          & i {
            color: #FA6B6D;
          }
        }
      }
      & p {
        height: 30px;
        line-height: 30px;
        width: 100%;
        color: #333;
        font-size: 14px;
        & svg {
          color: #999999;
          width: 14px;
          height: 14px;
          margin-right: 5px;
        }
      }
    }
  }
}
