.settle-list {
  height: 560px;
  margin-top: 10px;
  overflow-y: auto;
  -webkit-overflow-scrolling:touch;
  & :global(.am-list-item) {
    padding-left: 10px;
  }
  &:global(.am-list .am-list-item.am-checkbox-item .am-list-thumb .am-checkbox-inner) {
    top: 28px;
  }
  &:global(.am-list .am-list-item.am-checkbox-item .am-list-thumb .am-checkbox) {
    height: 74px;
  }
  &:global(.am-list .am-list-item.am-checkbox-item .am-list-thumb) {
    margin-right: 10px;
  }
  & :global(.am-list .am-list-item.am-checkbox-item .am-list-thumb .am-checkbox-inner) {
    left: 10px;
  }
}
.confirm-list {
  &:global(.am-list .am-list-item.am-checkbox-item .am-list-thumb) {
   display: none; 
  }
}
.settle-list {
  & .header {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-top: 5px;
    border-radius: 50%;
  }
  & .settle-info {
    float: left;
    width: 150px;
    & h2 {
      line-height: 20px;
      color: #333;
      font-size: 16px;
      font-weight: normal;
    }
    & p {
      font-size: 14px;
      color: #666;
    }
    & time {
      color:rgba(153,153,153,1);
      font-size: 12px;
    }
  }
  & .price {
    position: absolute;
    z-index: 10;
    top: 18px;
    right: 10px;
    color:rgba(250,107,109,1);
    font-size: 16px;
    height: 44px;
    & :global(.am-list-item.am-input-item) {
      padding-left: 5px;
      width: 90px;
      & :global(.am-list-line) {
        padding-right: 0;
        margin-top: 10px;
      }
      & :global(.am-input-control input) {
        text-align: center;
      }
    }
  }
}

.btn-box {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  background: #fff;
  overflow: hidden;
  & :global(.am-checkbox-agree) {
    float: left;
    padding-top: 14px;
    & :global(.am-checkbox-agree-label) {
      font-size: 15px;
      color:rgba(153,153,153,1);
      margin-left: 25px;
    }
    & :global(.am-checkbox-inner) {
      top: 15px;
    }
  }
  & span {
    float: right;
    line-height: 50px;
    font-size:15px;
    color:rgba(51,51,51,1);
    margin-right: 10px;
    & em {
      color: #FA6B6D;
    }
  }
  & a {
    float: right;
    width: 105px;
    line-height: 50px;
    background:rgba(0,152,245,1);
    text-align: center;
    font-size: 15px;
    color: #fff;
  }
}