/* html .mypush-tabs :global(.am-tabs-default-bar-top .am-tabs-default-bar-tab::after) {
  width: 50%;
  left: 25%;
} */
.mypush-tabs {
  font-size: 12px;
  & :global(.am-tabs-default-bar-tab) {
    font-size: 12px;
    & :global(.am-tabs-default-bar-underline) {
      border-color: #0467E0;
    }
  }

  & .order-list {
    & li {
      padding: 10px 15px;
      height: 70px;
      background: rgba(138, 150, 160, 0.05);
      overflow: hidden;
      & em {
        float: left;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid #0467E0;
        text-align: center;
        line-height: 50px;
        font-size: 14px;
        color: #0467E0;
        margin-right: 12px;
      }
      & section {
        float: left;
        & p {
          color: #313F48;
          height: 30px;
          line-height: 30px;
          & span {
            color: #97A2AA;
          }
        }
        & p:nth-child(2) {
          line-height: 14px;
        }
      }
      & a {
        float: right;
        color: #0467E0;
        height: 50px;
        line-height: 50px;
      }
    }
  }
}
