.money-box {
  width: 100%;
  height: 114px;
  &::before{
    content: '';
    width: 100%;
    height: 60px;
    background: #1298fc;
    display: block;
  }
  & .money-con {
    position: absolute;
    top: 6px;
    left: 50%;
    margin-left: -165px;
    width: 330px;
    height: 90px;
    background:rgba(255,255,255,1);
    box-shadow:-2px 1px 31px 0px rgba(10,94,163,0.2);
    border-radius:5px;
    overflow: hidden;
    & li {
      float: left;
      width: 50%;
      &.income {
        & p {
          text-align: left;
          height: 34px;
          line-height: 34px;
          font-size: 13px;
          &:nth-child(1) {
            margin-top: 10px;
          }
          & span {
            color: #333;
          }
        }
      }
      & .hand-input {
        display: block;
        width:86px;
        height:26px;
        background: rgba(18,152,252,.1);
        border-radius:13px;
        color: #1298FC;
        line-height: 26px;
        text-align: center;
        font-size: 13px;
        margin: 0 auto;
        margin-top: 20px;
        & svg {
          margin-right: 3px;
        }
      }
      & strong {
        color: #333;
        font-size: 22px;
        display: block;
        text-align: center;
        line-height: 34px;
        margin-top: 18px;
        font-weight: normal;
      }
      & p {
        line-height: 24px;
        color: #999;
        font-size: 12px;
        text-align: center;
      }
      & :global(.am-list-item .am-input-control input) {
        height: 34px;
        line-height: 34px;
        font-size: 20px;
        text-align: center;
      }
      & :global(.am-list-item.am-input-item) {
        padding-left: 0;
        min-height: 34px;
        height: 34px;
        line-height: 34px;
        margin-top: 16px;
      }
      & :global(.am-list-item .am-input-label.am-input-label-5) {
        width: auto;
      }
    }
  }
}
.settle-box {
  height: 460px;
  overflow-scrolling:touch;
  -webkit-overflow-scrolling:touch;
  overflow-y: auto;
}
.settle-list {
  & .header {
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
  }
  & .settle-info {
    float: left;
    width: 150px;
    & h2 {
      line-height: 20px;
      color: #333;
      font-size: 15px;
      font-weight: normal;
    }
    & p {
      font-size: 13px;
      color: #666;
    }
    & time {
      color:rgba(153,153,153,1);
      font-size: 12px;
    }
  }
  & .price {
    float: right;
    margin-top: 5px;
    & span {
      display: block;
      height: 24px;
      width: 70px;
      line-height: 24px;
      text-align: center;
      font-size: 13px;
      border-radius:12px;
      background:rgba(0,190,204,.1);
      color: #00BECC;
      margin: 0 auto;
    }
    & p {
      color:rgba(250,107,109,1);
      font-size: 16px;
      height: 30px;
      line-height: 30px;
      &.ispay-amonut {
        height: 60px;
        line-height: 60px;
      }
    }
  }
}

.btn-box {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  background: #fff;
  & a {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    width: 95%;
    margin: 0 auto;
    margin-top: 5px;
    &:global(.am-button-primary.am-button-disabled) {
      color: rgba(0,0,0,0.9);
      background: #bfc0c1;
    }
  }
}

html:not([data-scale]) .btn-box :global(a.am-button-primary::before) {
  border: none;
}
