.settle-list {
  height: 560px;
  margin-top: 10px;
  overflow-y: auto;
  -webkit-overflow-scrolling:touch;
}
.settle-all {
  height: 100%;    
}
html:not([data-scale]) .settle-list :global(.am-list-body::after) {
  display: none;
}
.settle-list {
  & .header {
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  & .settle-info {
    float: left;
    width: 150px;
    & h2 {
      line-height: 20px;
      color: #333;
      font-size: 16px;
      font-weight: normal;
    }
    & p {
      font-size: 14px;
      color: #666;
    }
    & time {
      color:rgba(153,153,153,1);
      font-size: 12px;
    }
  }
  & .price {
    float: right;
    color:rgba(250,107,109,1);
    font-size: 16px;
    line-height: 62px;
  }
}

html:not([data-scale]) .btn-box :global(.am-list-body::after) {
  left: 42px;
  width: 90px;
}
html:not([data-scale]) .btn-box :global(.am-list-body::before) {
  display: none;
}
.btn-box {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  background: #fff;
  overflow: hidden;
  & span {
    float: right;
    line-height: 50px;
    font-size:15px;
    color:rgba(51,51,51,1);
    margin-right: 10px;
    & em {
      color: #FA6B6D;
    }
    & :global(.am-list) {
      width: 170px;
      & :global(.am-list-item.am-input-item) {
        padding-left: 0;
      }
      & :global(.am-list-item .am-input-label.am-input-label-5) {
        width: auto;
      }
    }
  }
  & a {
    float: right;
    width: 105px;
    line-height: 50px;
    background:rgba(0,152,245,1);
    text-align: center;
    font-size: 15px;
    color: #fff;
  }
}