html:not([data-scale]) .invoice-list :global(.am-list-body::before) {
  display: none;
}

:global(.toplist-tabs) {
  height: 40px;
  line-height: 40px;
  display: flex;
  background: #fff;
  margin-bottom: 2px;
  & :global(.toplist-tabs-item) {
    flex-direction: column;
    justify-content: space-around;
    flex: 1 1;
    text-align: center;
    color: #999;
    font-size: 14px;
    &:global(.toplist-tabs-item-selected) {
      color: #1298FC !important;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 2px;
        background: #1298FC;
        left: 50%;
        bottom: 0;
        margin-left: -16px;
      }
    }
  }
}

.invoice-list {
  width: 100%;
  overflow-y: auto;
  & :global(.am-list-body) {
    background: #F6F5FA;
    & .title {
      padding: 6px 16px;
      font-size: 12px;
      color:rgba(153,153,153,1);
    }
    & dl {
      position: relative;
      background: #fff;
      margin-top: 10px;
      font-size: 14px;
      padding-bottom: 5px;
      & dt {
        overflow: hidden;
        padding: 3px 13px 3px 16px;
        & .typericon {
          float: left;
          margin-top: 11px;
          margin-right: 6px;
          width: 18px;
          height: 18px;
        }
        & p {
          float: left;
          line-height: 38px;
          height: 38px;
          width: 250px;
        }
        & .prj-title {
          font-size: 14px;
          font-family: SourceHanSansCN-Medium;
          color: rgba(51, 51, 51, 1);
          width: 240px;
          font-weight: 500
        }
        & .prj-title-zuofei {
          width: 148px;
        }
        & .statusicon {
          float: right;
          margin-top: 10px;
          font-family: SourceHanSansCN-Regular;
          font-weight: 400;
          & :global(.am-badge-text) {
            background: #ffffff;
            border-radius: 2px;
            padding: 0 3px;
            font-size: 14px;
          }
        }
        & .default {
          & sup {
            color: #1298FC;
          }
        }
        & .blue {
          & sup {
            color: #1298FC;
          }
        }
        & .yellow {
          & sup {
            color: #FCA424;
          }
        }
        & .gray-dis {
          & sup {
            color: #999999;
          }
        }
        & .green {
          & sup {
            color: #00BECC
          }
        }
      }
      & dd {
        & p {
          line-height: 21px;
          color: #282828;
          font-size: 14px;
          padding: 3px 13px 3px 16px;
          overflow: hidden;
          & a {
            color: #999999;
            font-weight: 400;
            float: left;
          }
          & em {
            float: right;
          }
        }
      }
      & .zuofei {
        position: absolute;
        top: 10px;
        right: 100px;
        & img {
          display: block;
          width:96px;
          height:96px;
        }
      }
    }
  }
}

html:not([data-scale]) .invoice-page :global(.am-button::before) {
  display: none;
}
.mask-content {
  position: absolute;
  width: 198px;
  top: 40px;
  right:20px;
  & .mask-arrow {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 1PX;
    background-color: #fff;
    transform: rotate(45deg);
    z-index: -1;
    box-shadow: 0 0 2px rgba(0, 0, 0, .21);
    right: 8px;
    top: -3.5px
  }
  & .mask-inner {
    font-size: 15px;
    color: #000;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .21);
    overflow: hidden;
    & .mask-item {
      padding-left:8px;
      & .mask-item-container {
        height: 51px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding-left:8px;
        & svg {
          margin-right: 17px;
          margin-left: 8px;
          width: 20px;
          height: 20px;
        }
        & .mask-text {
          font-size: 16px;
          color: #333;
          width: 140px;
          line-height: 51px;
        }
      }
    }
  }
}