
html .invoice-list :global(.am-button-ghost::before) {
  border-color: #0467E0;
}
.invoiceBox {
  background: #F3F4F5;
  & .invoice-list {
    & li {
      padding: 20px;
      height: 25px;
      background: #fff;
      overflow: hidden;
      margin-top: 10px;
          & span {
            color: #8A96A0;
            float: left;
            line-height: 20px;
          }
      & nav {
        float: right;
        line-height: 25px;
      }
    }
  }
}