.radio-box :global(.am-radio.am-radio-checked .am-radio-inner:after) {
  width: 9px;
  height: 9px;
  border-style: none;
  border-width: 0;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  background: #0467e0;
}
.radio-box {
   & :global(.am-list) {
    & :global(.am-list-item) {
      &:global(.am-radio-item) {
        & :global(.am-list-line) {
          & :global(.am-list-extra) {
            & :global(.am-radio) {
              height: 134px;
            }
            & :global(.am-radio-inner) {
              left: 0 ;
              top: 56px;
              border: 1px solid #0467E0;
              border-radius: 50%;
            }
          }
        }    
      }

      & :global(.am-list-line) {
        & :global(.am-list-content) {
          padding-left: 26px;
        }
      }
    } 
   }
  & div {
    line-height: 24px;
    text-align: center;
    font-size: 20px;
    border:none
  }
  & dl {
    color: #313F48;
    font-size: 12px;
    & span {
      color: #999999;
    }
    & dt {
      height: 24px;
      line-height: 24px;
      overflow: hidden;
      & span {
        float: left;
      }
      & em {
        float: right;
        color: #1F89E4;
        background-color: #F6F9FB;
        height: 24px;
        line-height: 24px;
        padding: 0 5px;
      }
    }
    & dd {
      height: 24px;
      line-height: 24px;
      overflow: hidden;
      & p {
        float: left;
      }
      & time {
        float: right;
        color: #999999;
      }
    }
  }
}