.box {
  background: #fff;
  margin-top: 15px;
  font-family:SourceHanSansCN-Regular;
  font-weight:400;
  & :global(.am-list-body::before) {
    height: 0!important;
  }
  & :global(.am-list-body::after) {
    height: 0!important;
  }
    & dl {
      padding: 15px;
      height: 60px;
      position: relative;
      & dt {
        float: left;
          & img {
            width: 60px;
            height: 60px;
            display: block;
          }
      }
      & dd {
        float: left;
        width: 250px;
        margin-left: 10px;
        & em {
          font-size: 16px;
          color: #333333;
        }
        & p {
          width: 100%;
          font-size: 14px;
          color: #999999;
          height: 30px;
          line-height: 30px;
        }
        & span {
          font-size: 14px;
          color: #999999;
        }
      }
      & div {
        position: absolute!important;
        right: 0!important;
        bottom: 0!important;
        width: 80%!important;
      }
  }
}
html :global(.am-list-footer) {
  text-align: center;
}