/*
* @Author: chengbs
* @Date:   2018-06-01 17:30:27
* @Last Modified by:   baosheng
* @Last Modified time: 2018-08-14 15:39:02
*/
html .my-work-list :global(.am-button:before) {
  border: none;
}
.my-work-list {
  & .segmented {
    position: fixed;
    padding: 12px 7.5px;
    box-sizing: border-box;
    background: #ffffff;
    border-radius: 0;
    width: 100%;
    height: 55px;
    z-index: 2;
    & :global(.am-segment-item-selected) {
      background: #0467E0;
    }
    & :global(.am-segment-item) {
      color: #0467E0;
      border-color:#0467E0;
    }
  }
  & :global(.am-tabs-default-bar-tab) {
    width: 24px;
    height: 48px;
    line-height: 48px;
    font-size: 12px;
    text-align: center;
    color: #666;
    opacity: 0.5;
    & .tabs-head {
      height: 100%;
      & em {
        display: block;
        height: 12px;
        line-height: 12px;
        text-align: center;
      }
      & p {
        height: 22px;
        line-height: 22px;
      }
    }
  }
  & :global(.am-tabs-default-bar-tab-active) {
    color: #0467E0;
    opacity: 1;
    & .tabs-head {
      height: 100%;
      & em {
        display: block;
        height: 12px;
        line-height: 12px;
        text-align: center;
      }
      & p {
        height: 22px;
        line-height: 22px;
      }
    }
  }
  & :global(.am-tabs-default-bar.am-tabs-default-bar-animated.am-tabs-default-bar-top) {
    position: fixed;
    top: 100px;
    height: 48px;
  }
  & :global(.am-tabs-pane-wrap.am-tabs-pane-wrap-active),& :global(.am-tabs-pane-wrap.am-tabs-pane-wrap-inactive) {
    padding-top: 102px;
  }
  & .item {
    background-color: rgba(250, 250, 250, 1);
    & .title {
      padding: 10px 10px 10px 24px;
      height: 36px;
      background-color: #FFF;
      overflow: hidden;
      & .left {
        float: left;
        color: rgba(49, 63, 72, 1);
        min-width: 80px;
        height: 16px;
        font-size: 12px;
      }
      & svg {
        float: left;
        width: 16px;
        height: 16px;
        margin-left: 20px;
      }
    }
    & .desc {
      padding: 8px 0 8px 24px;
      height: 120px;
      color: #313F48;
      font-size: 12px;
      border-left: 2px solid rgba(4, 103, 224, 1);
      & >div {
        height: 15px;
        margin: 5px 10px 5px 0;
        line-height: 15px;
        & >span {
          display: inline-block;
          vertical-align: top;
          min-width: 100px;
          height: 100%;
        }
        &.ordernum {
          color: #999;
          & .timeblock {
            float: right;
          }
        }
      }
      & .address {
        & .icon {
          width: 24px;
          height: 24px;
          vertical-align: top;
        }
      }
    }
    & .itemfooter {
      width: 100%;
      height:43px;
      color: rgba(4, 103, 224, 1);
      background-color: #ffffff;
      font-size: 12px;
      overflow: hidden;
      & a {
        float: left;
        width: 49%;
        text-align: center;
        height: 30px;
        line-height: 30px;
        margin-top: 7px;
        &:nth-child(1) {
          margin-left: 1%;
        }
      }
      & .detailbtn {
        background-color: #F3F4F5;
        color: #0467E0;
        font-size: 14px;
        float: right;
        margin-right: 20px;
        width: 110px;
        & span {
          display: block;
          height: 34px;
          line-height: 32px;
          color: #0467E0;
        }
      }
    }
  }
}
:global(.am-tabs-pane-wrap) {
  -webkit-overflow-scrolling : touch;
}

.loading {
  & >*>* {
    border-radius: 5px;
    color: transparent!important;
    background: #EEE!important;
    & >* {
      display: none;
    }
  }
}
