.balance-page {
  & :global(.am-tabs) {
    & :global(.am-tabs-tab-bar-wrap) {
      & :global(.am-tabs-default-bar-tab::after) {
        height: 0;
      }
    }
  }
  & .balance-list {
    width: 100%;
    overflow-y: auto;
    & :global(.am-list-body) {
      background: #f6f5fa;
    }
    & dl {
      background: #fff;
      margin-top: 10px;
      font-size: 14px;
      & dt {
        overflow: hidden;
        padding: 3px 13px 3px 16px;
        & .typericon {
          float: left;
          margin-top: 10px;
          margin-right: 6px;
          & sup {
            font-family:SourceHanSansCN-Regular;
            font-weight:400;
            color:rgba(255,255,255,1);
          }
          & :global(.am-badge-text) {
            background:rgba(248,181,0,1);
            border-radius:2px;
            padding: 0 3px;
            font-size:12px;
          }
        }
        & p {
          float: left;
          line-height: 38px;
          height: 38px;
          width: 250px;
        }
        & .prj-title {
          font-size:14px;
          font-family:SourceHanSansCN-Medium;
          color:rgba(51,51,51,1);
          width:240px;
          font-weight: 500
        }
        & .statusicon {
          float: right;
          margin-top: 10px;
          font-family:SourceHanSansCN-Regular;
          font-weight:400;
          & :global(.am-badge-text) {
            background: #ffffff;
            border-radius:2px;
            padding: 0 3px;
            font-size: 14px;
          }
          & .default {
            & sup {
              color:#1298FC;
            }
          }
          &.blue {
            & sup {
              color: #00BECC;
            }
          }
          &.yellow {
            & sup {
              color: #FCA424;
            }
          }
          &.pink {
            & sup {
              color: #FA6B6D;
            }
          }
        }
      }
      & dd {
        & p {
          line-height: 28px;
          color: #282828;
          font-size: 14px;
          padding: 3px 13px 3px 16px;
          & span {
            color: #999999;
            font-weight: 400;
        }
          & em {
            color: #333333;
            font-weight: 400;
          }
        }
        & .wait-price {
          padding: 16px;
          line-height: 15px;
          height: 45px;
          & :global(.am-button) {
            float:right;
            width:64px;
            height:28px;
            line-height: 22px;
            margin-top: -7px;
            border:1px solid rgba(18,152,252,1);
            border-radius:3px;
            & span {
              font-size:12px;
              font-family:SourceHanSansCN-Regular;
              font-weight:400;
              color:rgba(18,152,252,1);
            }
          }
        }
      }
  }
}
}