.about {
  height: 72px;
  margin-top: 29px;
  position: relative;
  & .about-avatar {
    width:72px;
    height: 72px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin:auto;
    border-radius: 8px;
    
    & img {
      width: 66px;
      height: 66px;
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin:auto;
      text-align: center;
      vertical-align: middle;
      border-radius: 4px;
    }
  }
}
.about-v {
  margin:20px 0 12px;
  line-height: 21px;
  text-align: center;
  font-size: 15px;
}
.about-content {
  & :global(.am-list-item .am-list-line .am-list-content) {
    height: 22px;
    line-height: 22px;
    color: rgba(49, 63, 72, 1);
    font-size: 14px;
    text-align: left;
    font-family: PingFangSC-Regular;
  }
}

