.fix-iphoneX-top {
  height: 28px;
  background-color: transparent;
}

.header {
  font-family: PingFang-SC-Medium;
  background-color: #1298FC;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  & .nav-bar {
    height: 45px;
  }
  & :global(.am-navbar.am-navbar-light) {
    background-color: transparent;
  }
  & :global(.am-navbar-right) {
    margin-right: 0;
  }
  & :global(.am-navbar-left) {
    padding-left: 0;
  }
  & :global(.am-search-input .am-search-synthetic-ph-placeholder) {
    font-size: 12px;
  }
  & :global(.am-search-cancel) {
    font-size: 12px;
    color: #fff;
  }
  & :global(.usr-hdleft-title-first), & :global(.usr-hdleft-title-second), & :global(.usr-hdright-title) {
    font-size: 14px;
    color: #fff;
  }
  & :global(.title) {
    font-size: 16px;
    color: #fff;
  }
  & :global(.rightBox), & :global(.usr-hdright-title) {
    min-width: 38px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    padding: 0 6px;
  }

  & :global(.leftIcon), & :global(.rightIcon) {
    width: 18px;
    height: 18px;
    color: #fff;
  }
  & :global(.usr-hdright-title) {
    & svg {
      width: 18px;
      height: 18px;
    }
  }

  & :global(.leftBox) {
    padding: 10px 3px 10px 10px;
  }

  & :global(.usr-hdleft-title-first) {
    padding: 10px 0 10px 0;
  }

  & :global(.usr-hdleft-title-second) {
    padding: 10px 0 10px 10px;
  }

  & :global(.search) {
    width: 220px;
    height: 28px;
    border-radius: 5px;
    background-color: #fff;
    font-size: 12px;
  }
}
