/*
* @Author: baosheng
* @Date:   2018-04-02 22:17:11
* @Last Modified by:   chengbs
* @Last Modified time: 2018-05-22 15:23:45
*/
.menuBtn {
  width: 22px;
  height: 22px;
  background: 'url(../../assets/home.png) center center /  21px 21px no-repeat';
}

.tabBody {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bottom-menu-tip {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  background:rgba(255,255,255,0.98);
  & .close {
    position: absolute;
    bottom: 15px;
    left: 50%;
    display: block;
    width: 50px;
    margin-left: -25px;
    height: 50px;
    font-size: 26px;
    line-height: 50px;
    text-align: center;
  }
  & .pubsh-box {
    display: flex;
    width: 90%;
    justify-content: space-around;
    position: absolute;
    top: 52%;
    left: 50%;
    margin-left: -45%;
    & li {
      height: 72px;
      width: 50px;
      & img {
        display: block;
        width: 50px;
        height: 50px;
      }
      & span {
        display: block;
        text-align: center;
        color:rgba(51,51,51,1);
        font-size: 12px;
        margin-top: 10px;
      }
    }
  }
}

.tabBody-fix-iphoneX {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 15px solid #FFF;
  &:after {
    content: '';
    position: absolute;
    background-color: #FFF;
    display: block;
    z-index: 1;
    top: auto;
    right: auto;
    bottom: -15px;
    left: 0;
    width: 100%;
    height: 15px;
  }
}

.icon-menu {
  width: 25px;
  height: 25px;
  fill: currentColor;
  overflow: hidden;
}
.bigicon-menu {
  width: 40px;
  height: 40px;
  margin-top:5px;
  fill: currentColor;
  overflow: hidden;
}

.pushorder-btn {
  display: block;
  width:48px;
  height:48px;
  background:linear-gradient(0deg,rgba(17,145,241,1) 0%,rgba(91,185,255,1) 100%);
  border-radius:50%;
  margin-top: -2px;
  margin-left: -2px;
  & svg {
    color: #fff;
    width: 24px;
    height: 24px;
    margin-top: 11px;
  }
}

html:not([data-scale]) .bottom-menu-box :global(.am-tab-bar-bar::before) {
  height: 0;
}
.tabBody .bottom-menu-box :global(.am-tab-bar-tab) {
  height: 100%;
}

.tabBody .bottom-menu-box :global(.am-tab-bar-bar .am-tab-bar-tab-title) {
  margin-top: 2px;
}

.none {
  display: none;
}

.tabBody-fix-iphoneX .bottom-menu-box :global(.am-tab-bar-bar .am-tab-bar-tab),
.tabBody .bottom-menu-box :global(.am-tab-bar-bar .am-tab-bar-tab) {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-user-select:none;
  user-select:none;
  -webkit-touch-callout: none;
  touch-callout: none;
}

.tabBody-fix-iphoneX .bottom-menu-box :global(.am-tab-bar-bar .am-tab-bar-tab.feedback),
.tabBody .bottom-menu-box :global(.am-tab-bar-bar .am-tab-bar-tab.feedback) {
  -webkit-transform: scale(0.86);
  transform: scale(0.86);
}

.tabBody-fix-iphoneX .bottom-menu-box :global(.am-tab-bar),
.tabBody .bottom-menu-box :global(.am-tab-bar) {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 56px;
  background: url('../../assets/tab_back.png');
  background-size: contain;
}

.tabBody-fix-iphoneX .bottom-menu-box :global(.am-tabs-pane-wrap-inactive),
.tabBody .bottom-menu-box :global(.am-tabs-pane-wrap-inactive) {
  display: none;
}

.tabBody-fix-iphoneX .bottom-menu-box :global(.am-tabs-pane-wrap-active),
.tabBody .bottom-menu-box :global(.am-tabs-pane-wrap-active) {
  display: block;
  height: 100%;
}

:global(.animated) {
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

:global(.animated.infinite) {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@-webkit-keyframes bounceInUp {
  from,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInUp {
  from,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

:global(.bounceInUp) {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

@-webkit-keyframes bounceOutDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  } to {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }
}

@keyframes bounceOutDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  } to {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }
}

:global(.bounceOutDown) {
  -webkit-animation-name: bounceOutDown;
  animation-name: bounceOutDown;
}


