/*
* @Author: baosheng
* @Date:   2018-04-02 22:17:11
* @Last Modified by:   chengbs
* @Last Modified time: 2018-05-22 15:23:45
*/
.menuBtn {
  width: 22px;
  height: 22px;
  background: 'url(../../assets/home.png) center center /  21px 21px no-repeat';
}

.tabBody {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bottom-menu-tip {
  display: block;
  width: 130px;
  height: 126px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  margin-left: -65px;
  z-index: 1000;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.21);
  background: #fff;
  & .tip-arrow {
    position: absolute;
    width: 8px;
    height: 8px;
    bottom: -4px;
    left: 50%;
    margin-left: -4px;
    border-radius: 1PX;
    background-color: #fff;
    transform: rotate(45deg);
    z-index: 0;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.21);
  }
  & .tip-inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.21);
    overflow: hidden;
    & a {
      display: block;
      height: 42px;
      line-height: 42px;
      text-align: center;
      color: #313f48;
      font-size: 14px;
      vertical-align: middle;
      &:last-child {
        border-bottom: none;
      }
      & .tipicon {
        width: 20px;
        height: 20px;
        margin-right: 3px;
        vertical-align: middle;
        margin-top: -2px;
      }
    }
  }
}

.tabBody-fix-iphoneX {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 15px solid #FFF;
  &:after {
    content: '';
    position: absolute;
    background-color: #FFF;
    display: block;
    z-index: 1;
    top: auto;
    right: auto;
    bottom: -15px;
    left: 0;
    width: 100%;
    height: 15px;
  }
}

.icon-menu {
  width: 19px;
  height: 19px;
  fill: currentColor;
  overflow: hidden;
}
.bigicon-menu {
  width: 40px;
  height: 40px;
  margin-top:5px;
  fill: currentColor;
  overflow: hidden;
}

.tabBody :global(.am-tab-bar-tab) {
  height: 100%;
}

.tabBody :global(.am-tab-bar-bar .am-tab-bar-tab-title) {
  margin-top: 6px;
}

.none {
  display: none;
}

.tabBody-fix-iphoneX :global(.tabBody .am-tab-bar-bar .am-tab-bar-tab),
.tabBody :global(.tabBody .am-tab-bar-bar .am-tab-bar-tab) {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-user-select:none;
  user-select:none;
  -webkit-touch-callout: none;
  touch-callout: none;
}

.tabBody-fix-iphoneX :global(.am-tab-bar-bar .am-tab-bar-tab.feedback),
.tabBody :global(.am-tab-bar-bar .am-tab-bar-tab.feedback) {
  -webkit-transform: scale(0.86);
  transform: scale(0.86);
}

.tabBody-fix-iphoneX :global(.am-tab-bar),
.tabBody :global(.am-tab-bar) {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 50px;
}

.tabBody-fix-iphoneX :global(.am-tabs-pane-wrap-inactive),
.tabBody :global(.am-tabs-pane-wrap-inactive) {
  display: none;
}

.tabBody-fix-iphoneX :global(.am-tabs-pane-wrap-active),
.tabBody :global(.am-tabs-pane-wrap-active) {
  display: block;
  height: 100%;
}

:global(.animated) {
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

:global(.animated.infinite) {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@-webkit-keyframes bounceInUp {
  from,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInUp {
  from,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

:global(.bounceInUp) {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

@-webkit-keyframes bounceOutDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  } to {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }
}

@keyframes bounceOutDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  } to {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }
}

:global(.bounceOutDown) {
  -webkit-animation-name: bounceOutDown;
  animation-name: bounceOutDown;
}


