html:not([data-scale]) .quickorder-form :global(.am-list-body::before) {
  height: 0;
}
.push-form {
  & .vertical-line {
    display: block;
    height: 24px;
    width: 1Px;
    background: #ddd;
    margin-left: 10px;
  }
  & :global(.am-list-item .am-list-line) {
    padding-right: 8px;
    & :global(.am-list-extra) {
      flex-basis: 100%;
      text-align: center;
    }
  }
}

.push-btn {
  height: 44px;
  line-height: 44px;
  font-size: 16px;
  background: #0098F5;
  margin-top: 20px;
}

html .push-form-upload :global(.am-list-body) {
  background-color: transparent;
  &::before {
    height: 0;
  }
  &::after {
    height: 0;
  }
}
.push-form-upload {
  padding-left: 20px;
  & .push-title {
    font-size: 14px;
    color: #313f48;
    height: 20px;
    line-height: 20px;
    margin-top: 10px;
  }
  & .push-upload-icon {
    font-size: 60px;
  }
  & .file-list {
    width: 320px;
    margin-top: 10px;
    -webkit-padding-start: 0;
    & li {
      height: 26px;
      margin-bottom: 5px;
      line-height: 26px;
      overflow: hidden;
      & .file-list-icon {
        float: left;
        width: 16px;
        height: 16px;
        margin-top: 5px;
      }
      & a {
        float: left;
        width: 280px;
        line-height: 26px;
        font-size: 14px;
        margin-left: 5px;
        color: #1890ff;
        overflow:hidden;
        white-space:nowrap;
        -o-text-overflow:ellipsis;
        text-overflow:ellipsis;
      }
      & i {
        float: right;
        width: 14px;
        text-align: center;
        font-style: normal;
        color: #ccc;
      }
    }
  }
}
.asterisk {
  display: inline-block;
  height: 44px;
  line-height: 46px;
  width: 16px;
  text-align: center;
  color: #db1818;
  vertical-align: middle;
}

.input-ellipsis {
  & :global(.am-list-item .am-list-line .am-list-extra) {
    flex-basis: 70%;
  }
}
.remark {}
