/*
* @Author: chengbs
* @Date:   2018-05-16 18:38:22
* @Last Modified by:   chengbs
* @Last Modified time: 2018-05-22 16:04:35
*/

.guide-box {
  width: 100%;
  height: 100%!important;
  & :global(.slider-frame) {
    height: 100%!important;
  }
  & :global(.slider-slide) {
    & a {
      display: block;
      & img {
        width: 100%;
      }
    }
  }
}