@charset "utf-8";
:global(.fullborder),
:global(.border-top),
:global(.border-right),
:global(.border-bottom),
:global(.border-left),
:global(.border-topbottom),
:global(.border-rightleft),
:global(.border-topleft),
:global(.border-rightbottom),
:global(.border-topright),
:global(.border-bottomleft){
    position: relative;
}
:global(.border::before),
:global(.border-top::before),
:global(.border-right::before),
:global(.border-bottom::before),
:global(.border-left::before),
:global(.border-topbottom::before),
:global(.border-topbottom::after),
:global(.border-rightleft::before),
:global(.border-rightleft::after),
:global(.border-topleft::before),
:global(.border-topleft::after),
:global(.border-rightbottom::before),
:global(.border-rightbottom::after),
:global(.border-topright::before),
:global(.border-topright::after),
:global(.border-bottomleft::before),
:global(.border-bottomleft::after){
    content: "\0020";
    overflow: hidden;
    position: absolute;
}
/* fullborder
 * 因，边框是由伪元素区域遮盖在父级
 * 故，子级若有交互，需要对子级设置
 * 定位 及 z轴
 */
:global(.fullborder::before) {
    box-sizing: border-box;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 1px solid #ddd;
    transform-origin: 0 0;
}
:global(.border-top::before),
:global(.border-bottom::before),
:global(.border-topbottom::before),
:global(.border-topbottom::after),
:global(.border-topleft::before),
:global(.border-rightbottom::after),
:global(.border-topright::before),
:global(.border-bottomleft::before){
    left: 0;
    width: 100%;
    height: 1px;
}
:global(.border-right::before),
:global(.border-left::before),
:global(.border-rightleft::before),
:global(.border-rightleft::after),
:global(.border-topleft::after),
:global(.border-rightbottom::before),
:global(.border-topright::after),
:global(.border-bottomleft::after){
    top: 0;
    width: 1px;
    height: 100%;
}
:global(.border-top::before),
:global(.border-topbottom::before),
:global(.border-topleft::before),
:global(.border-topright::before){
    border-top: 1px solid #ddd;
    transform-origin: 0 0;
}
:global(.border-right::before),
:global(.border-rightbottom::before),
:global(.border-rightleft::before),
:global(.border-topright::after){
    border-right: 1px solid #ddd;
    transform-origin: 100% 0;
}
:global(.border-bottom::before),
:global(.border-topbottom::after),
:global(.border-rightbottom::after),
:global(.border-bottomleft::before){
    border-bottom: 1px solid #ddd;
    transform-origin: 0 100%;
}
:global(.border-left::before),
:global(.border-topleft::after),
:global(.border-rightleft::after),
:global(.border-bottomleft::after){
    border-left: 1px solid #ddd;
    transform-origin: 0 0;
}
:global(.border-top::before),
:global(.border-topbottom::before),
:global(.border-topleft::before),
:global(.border-topright::before){
    top: 0;
}
:global(.border-right::before),
:global(.border-rightleft::after),
:global(.border-rightbottom::before),
:global(.border-topright::after){
    right: 0;
}
:global(.border-bottom::before),
:global(.border-topbottom::after),
:global(.border-rightbottom::after),
:global(.border-bottomleft::after){
    bottom: 0;
}
:global(.border-left::before),
:global(.border-rightleft::before),
:global(.border-topleft::after),
:global(.border-bottomleft::before){
    left: 0;
}
@media (max--moz-device-pixel-ratio: 1.49), (-webkit-max-device-pixel-ratio: 1.49), (max-device-pixel-ratio: 1.49), (max-resolution: 143dpi), (max-resolution: 1.49dppx) {
    /* 默认值，无需重置 */
}
@media (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 2.49), (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 2.49), (min-device-pixel-ratio: 1.5) and (max-device-pixel-ratio: 2.49), (min-resolution: 144dpi) and (max-resolution: 239dpi), (min-resolution: 1.5dppx) and (max-resolution: 2.49dppx) {
    :global(.fullborder::before) {
        width: 200%;
        height: 200%;
        transform: scale(.5);
    }
    :global(.border-top::before),
    :global(.border-bottom::before),
    :global(.border-topbottom::before),
    :global(.border-topbottom::after),
    :global(.border-topleft::before),
    :global(.border-rightbottom::after),
    :global(.border-topright::before),
    :global(.border-bottomleft::before){
        transform: scaleY(.5);
    }
    :global(.border-right::before),
    :global(.border-left::before),
    :global(.border-rightleft::before),
    :global(.border-rightleft::after),
    :global(.border-topleft::after),
    :global(.border-rightbottom::before),
    :global(.border-topright::after),
    :global(.border-bottomleft::after){
        transform: scaleX(.5);
    }
}
@media (min--moz-device-pixel-ratio: 2.5), (-webkit-min-device-pixel-ratio: 2.5), (min-device-pixel-ratio: 2.5), (min-resolution: 240dpi), (min-resolution: 2.5dppx) {
    :global(.fullborder::before) {
        width: 300%;
        height: 300%;
        transform: scale(.33333);
    }
    :global(.border-top::before),
    :global(.border-bottom::before),
    :global(.border-topbottom::before),
    :global(.border-topbottom::after),
    :global(.border-topleft::before),
    :global(.border-rightbottom::after),
    :global(.border-topright::before),
    :global(.border-bottomleft::before){
        transform: scaleY(.33333);
    }
    :global(.border-right::before),
    :global(.border-left::before),
    :global(.border-rightleft::before),
    :global(.border-rightleft::after),
    :global(.border-topleft::after),
    :global(.border-rightbottom::before),
    :global(.border-topright::after),
    :global(.border-bottomleft::after){
        transform: scaleX(.33333);
    }
}
