/*
* @Author: chengbs
* @Date:   2018-05-22 10:58:21
* @Last Modified by:   chengbs
* @Last Modified time: 2018-06-05 23:52:45
*/
:global(.contentBox) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50px;
  & :global(.am-calendar .content) {
    z-index: 1200;
  }
}

:global(.pageBox) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  & :global(.am-calendar .content) {
    z-index: 1200;
  }
  &:global(.gray) {
    background: #F6F5FA;
  }
}

:global(.marginTop10) {
  margin-top: 10px;
}

:global(.contentBox.antdgray) {
  background: #F6F5FA;
}
input {
  outline:none;
  -webkit-appearance:none;
  line-height: normal;
}

:global(.nodata) {
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 14px;
  color: #888888;
}

:global(.my-top-border) {
  position: relative;
  border-top: 1PX solid #ddd;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  html:not([data-scale]) :global(.my-top-border) {
    position: relative;
    border-top: none;
  }
  html:not([data-scale]) :global(.my-top-border:before) {
    content: '';
    position: absolute;
    background-color: #ddd;
    display: block;
    z-index: 1;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    width: 100%;
    height: 1PX;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}

@media (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 3), (min-resolution: 2dppx) and (min-resolution: 3dppx) {
  html:not([data-scale]) :global(.my-top-border:before) {
    -webkit-transform: scaleY(0.33);
    transform: scaleY(0.33);
  }
}

:global(.my-bottom-border) {
  border-bottom: 1PX solid #ddd;
  position: relative;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  html:not([data-scale]) :global(.my-bottom-border) {
    border-bottom: none;
    position: relative;
  }
  html:not([data-scale]) :global(.my-bottom-border:after) {
    content: '';
    position: absolute;
    background-color: #ddd;
    display: block;
    z-index: 1;
    bottom: 0;
    right: auto;
    top: auto;
    left: 0;
    width: 100%;
    height: 1PX;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    overflow: hidden;
  }
}

@media (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 3), (min-resolution: 2dppx) and (min-resolution: 3dppx) {
  html:not([data-scale]) :global(.my-top-border:after) {
    -webkit-transform: scaleY(0.33);
    transform: scaleY(0.33);
  }
}

:global(.bule-full-border) {
  position: relative;
  border: 1PX solid #0467e0;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  html:not([data-scale]) :global(.bule-full-border) {
    position: relative;
    border: none;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  html:not([data-scale]) :global(.bule-full-border:before) {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 198%;
    height: 198%;
    border: 1PX solid #0467e0;
    border-radius: 10px;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    pointer-events: none;
    overflow: hidden;
  }
}

:global(.my-full-border) {
  position: relative;
  border: 1PX solid #ddd;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  html:not([data-scale]) :global(.my-full-border) {
    position: relative;
    border: none;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  html:not([data-scale]) :global(.my-full-border:before) {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 200%;
    height: 200%;
    border: 1PX solid #ddd;
    border-radius: 10px;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    pointer-events: none;
    overflow: hidden;
  }
}

:global(.my-left-border) {
  position: relative;
  border-left: 1PX solid #ddd;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  html:not([data-scale]) :global(.my-left-border:before)  {
    position: relative;
    border-left: none;
  }
  html:not([data-scale]) :global(.my-left-border:before) {
    content: '';
    position: absolute;
    background-color: #ddd;
    display: block;
    z-index: 1;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    width: 1PX;
    height: 100%;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
  }
}
@media (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 3), (min-resolution: 2dppx) and (min-resolution: 3dppx) {
  html:not([data-scale]) :global(.my-left-border:before)  {
    -webkit-transform: scaleX(0.33);
    transform: scaleX(0.33);
  }
}

:global(.my-right-border) {
  position: relative;
  border-right: 1PX solid #ddd;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  html:not([data-scale]) :global(.my-right-border:before)  {
    position: relative;
    border-right: none;
  }
  html:not([data-scale]) :global(.my-right-border:before) {
    content: '';
    position: absolute;
    background-color: #ddd;
    display: block;
    z-index: 1;
    top: 0;
    left: auto;
    bottom: auto;
    right: 0;
    width: 1PX;
    height: 100%;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
  }
}
@media (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 3), (min-resolution: 2dppx) and (min-resolution: 3dppx) {
  html:not([data-scale]) :global(.my-right-border:before)  {
    -webkit-transform: scaleX(0.33);
    transform: scaleX(0.33);
  }
}

:global(.ellipsis) {
  overflow:hidden;
  white-space:nowrap;
  -o-text-overflow:ellipsis;
  text-overflow:ellipsis;
  width: 100%;
}

:global(html:not([data-scale]) .am-list-body:before) {
  height: 0;
}
:global(html:not([data-scale]) .am-list-body:after) {
  height: 0;
}

html:not([data-scale]) :global(.pageBox .am-list-body div:not(:last-child) .am-list-line::after) {
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

html:not([data-scale]) :global(.contentBox .am-list-body div:not(:last-child) .am-list-line::after) {
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

:global(.pageBox .am-list-item .am-list-line .am-list-content) {
  font-size: 14px;
  color: #313f48;
}
:global(.pageBox .am-list-item .am-list-line .am-list-extra) {
  font-size: 14px;
}
:global(.pageBox .am-search-cancel) {
  font-size: 14px;
  color: #0467e0;
}
:global(.pageBox .am-list-item .am-input-label) {
  font-size: 14px;
  color: #313f48;
}
:global(.pageBox .am-list-item .am-input-control input::-webkit-input-placeholder) {
  font-size: 14px;
  color: #888;
}
:global(.pageBox .am-textarea-control textarea) {
  color: #333;
  font-size: 14px;
}

:global(.am-list-footer) {
  & :global(.render-footer) {
    height: 60px;
    line-height: 60px;
    text-align: center;
  }
}

:global(.am-modal-wrap) {
  z-index: 1998!important;
  & :global(.am-modal-title) {
    font-size: 14px!important;
  }
}
:global(.am-modal-wrap .am-modal-button-group-h .am-modal-button) {
  color: #0467e0!important;
  font-size: 14px!important;
  &:global(:first-child) {
    color: #333!important;
  }
}
:global(.am-modal-wrap .am-modal-button-group-v .am-modal-button) {
  color: #0467e0!important;
  font-size: 14px!important;
}
:global(.am-modal-mask) {
  z-index: 1998!important;
}
:global(.pageBox .am-list-item .am-input-control input) {
  font-size: 14px;
}

:global(.colorRed) {
  color: #ff0000;
}
:global(.colorGreen) {
  color: #03e203;
}

:global(.am-modal-wrap ) {
  touch-action: none;
}

:global(.showimg-box) {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1001;
  & img {
    max-width: 370px;
    max-height: 640px;
    top:0px;
    bottom:0px;
    left:0px;
    right:0;
    margin:auto;
    position: absolute;
  }
}
:global(.animated) {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
:global(.fadeIn) {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
:global(.fadeOut) {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

:global(.am-action-sheet-wrap) {
  & :global(.am-action-sheet-button-list-item) {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    color: #282828;
  }
}

html:not([data-scale]) :global(.pageBox .am-button-primary::before) {
  height: 198%;
}
:global(.pageBox .am-pull-to-refresh-content-wrapper) {
  overflow: unset;
}
