.card-list {
  position: relative;
  font-family:SourceHanSansCN-Regular;
  font-weight:400;
  color:rgba(255,255,255,1);
  & img{
    display: block;
    width:352px;
    height:149px;
    margin-left: 11px;
  }
  & span {
    font-size:18px;
    position: absolute;
    top: 32px;
    left: 87px;
  }
  & b {
    font-size:12px;
    position: absolute;
    top: 56px;
    left: 89px;
  }
  & p {
    font-size: 18px;
    position: absolute;
    top: 88px;
    left: 88px;
  }
}