html .engin-reality :global(.am-list-body::before) {
  height: 0;
}
html .engin-reality :global(.am-list-item:not(:last-child) .am-list-line::after), html .engin-reality :global(.am-list-item:not(:last-child) .am-list-line::before) {
  height: 0;
}
html .engin-reality :global(.am-list-body div:not(:last-child) .am-list-line::after) {
  height: 0;
}

.engin-reality {
  & .input-form-list {
    & :global(.am-list-line) {
      & :global(.am-list-content) {
        font-family:SourceHanSansCN-Regular;
        font-weight:400;
      }
      & :global(.am-list-extra) {
        color:rgba(153,153,153,1);
        overflow: visible;
      }
    }
  }
  & .input-form-list-prj {
    & :global(.am-list-line) {
      & :global(.am-list-content) {
        font-size:15px;
        font-family:SourceHanSansCN-Medium;
        font-weight:500;
        color:rgba(51,51,51,1);
      }
    }
  }
  & .attend {
    margin-top: 50px;
    & li {
      padding: 0 16px;
      height: 40px;
      & p {
        float: left;
        color: #313f48;
        height: 40px;
        line-height: 40px;
        & span {
          & span {
            color: #ccc;
            display: inline-block;
            margin-left: 8px;
          }
        }
      }
      & em {
        float: right;
        color: #313f48;
        height: 40px;
        line-height: 40px;
        margin-right: 5px;
      }
      & :global(.am-icon-right) {
        float: right;
        margin-top: 7px;
        width: 26px;
        height: 26px;
        margin-right: -5px;
      }
    }
  }
}

.calendar-box {
  height: 100%;
  width: 100%;
  & :global(.am-calendar){
    & :global(.content) {
      top: 0;
      bottom: 0;
      left: 0;
      & :global(.date-picker) {
        position: absolute;
        top: 30px;
        left: 0;
        right: 0;
        bottom: 51px;
        & :global(.wrapper) {
          position: absolute;
          top: 25px;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }
      & :global(.confirm-panel) {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
      }
    }
  }
}