/*
* @Author: chengbs
* @Date:   2018-06-06 15:32:13
* @Last Modified by:   baosheng
* @Last Modified time: 2018-07-07 20:34:47
*/
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl, dt, dd, p, span {
  margin: 0;
  padding: 0;
}

html .message-content :global(.am-tabs-default-bar-top .am-tabs-default-bar-tab::after) {
  height: 0;
}
.message-content {
  & :global(.am-tabs-tab-bar-wrap) {
    height: 50px;
    & :global(.am-tabs-default-bar-top) {
      & :global(.am-tabs-default-bar-tab) {
        padding-bottom: 0;
        color: #999;
        font-size: 14px;
      }
      & :global(.am-tabs-default-bar-tab-active) {
        color: #0467e0;
        font-weight: bolder;
      }
      & :global(.am-tabs-default-bar-underline) {
        bottom: 5px;
        border-color: #0467E0;
      }
    }
  }
  & :global(.am-tabs-default-bar-top) {
    & :global(.am-tabs-default-bar-content) {
      width: 40%;
      margin: 0 auto;
      overflow: hidden;
    }
  }
}

.notice-box {
  padding: 15px;
  height: 80px;
  & dl {
    overflow: hidden;
    & dt {
      float: left;
      & span {
        display: block;
        width: 50px;
        height: 50px;
        line-height: 64px;
        background: rgba(4, 103, 224, 1);
        border-radius: 50%;
        text-align: center;
        & .notice-icon {
          width: 30px;
          height: 30px;
        }
        &.tobedone {
          background: #fff;
          line-height: 80px;
          & .notice-icon {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
    & dd {
      float: left;
      width: 280px;
      margin-left: 10px;
      & p {
        width: 100%;
        font-size: 14px;
        color: rgba(49, 63, 72, 1);
        height: 30px;
        line-height: 30px;
        & em {
          float: right;
          font-style: normal;
          font-size: 12px;
          color: rgba(195, 205, 212, 1);
        }
      }
      & span {
        font-size: 12px;
        color: rgba(138, 150, 160, 1);
      }
    }
  }
}

html:not([data-scale]) .usr-header {
  &:global(.my-full-border:before) {
    border-radius: 50%;
  }
}

.mesg-list {
  & li {
    padding: 15px;
    height: 80px;
    overflow: hidden;
    & .usr-header {
      float: left;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      border-radius: 50%;
      color: rgba(138, 150, 160, 1);
      font-size: 16px;
      margin-right: 10px;
    }
    & .msg-box {
      float: left;
      width: 280px;
      & p {
        height: 30px;
        line-height: 30px;
        color: rgba(49, 63, 72, 1);
        font-size: 14px;
        & em {
          float: right;
          font-style: normal;
          color: rgba(195, 205, 212, 1);
          font-size: 12px;
        }
      }
      & span {
        font-size: 12px;
        color: rgba(138, 150, 160, 1);
      }
    }
  }
}

/* sysNotice */
.notice-list {
  & li {
    padding: 16px 30px;
    &.new {
      & h4 {
        &:before{
          display: inline-block;
          content:'';
          width: 8px;
          height: 8px;
          background: rgba(4, 103, 224, 1);
          border-radius: 50%;
          margin-left: -11px;
          margin-right: 5px;
        }
      }
    }
    & h4 {
      height: 40px;
      line-height: 40px;
      color: rgba(51, 51, 51, 1);
      font-size: 16px;
      font-weight: normal;
    }
    & p {
      line-height: 24px;
      font-size: 14px;
      color: rgba(153, 153, 153, 1);
    }
  }
}

/* chatbox */
/*:global(.pageBox) {
  &.chatBox {
    & :global(.animated) {
      overflow: hidden;
    }
  }
}*/

.chat-form {
  width: 100%;
  height: 100%;
}

.chatbox-header {
  & :global(.rightIcon) {
    width: 30px;
    height: 30px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: rgba(138, 150, 160, 0.1);
  & .msg-list {
    padding: 5px;
    flex: 1 1 auto;
    /*flex: 0 0 auto;*/
    overflow: auto;
    overflow-y:scroll;
    -webkit-overflow-scrolling:touch;
    & .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & .message {
        background-color: rgba(4, 103, 224, 1);
        font-size: 14px;
        color: #fff;
        padding: 8px 10px;
        border-radius: 12px;
        align-self: flex-end;
        max-width: 80%;
        margin-top: 10px;
      }
      & .response {
        background-color: #fff;
        padding: 8px 10px;
        border-radius: 12px;
        align-self: flex-start;
        margin: 10px;
        margin-left: 5px;
        max-width: 80%;
      }
    }
  }

  & .fixedBottom {
    align-items: center;
    display: flex;
    width: 100%;
    padding: 2px 0;
    flex: 0 0 auto;
    background: #fff;
    & :global(.am-list-item) {
      &.send-input {
        border: none;
        outline: none;
        flex: 1;
        height: 35px;
        text-indent: 10px;
        padding-left: 4px;
        & :global(.am-input-control input) {
          font-size: 14px;
        }
      }
    }
    & .send-button {
      margin-left: 10px;
      margin-right: 10px;
      width: 70px;
      padding: 5px;
      height: 34px;
      line-height: 24px;
      font-size: 14px;
      background: rgba(4, 103, 224, 1);
    }
  }
}

html:not([data-scale]) .fixedBottom :global(.am-list-item:not(:last-child) .am-list-line::after) {
  height: 0;
}

/* userInfo */
.user-info-page {
  -webkit-overflow-scrolling: touch;
  margin-bottom: 25px;
  & .header {
    width: 100%;
    height: 150px;
    background: url(../../assets/cover.png) no-repeat center center;
    & .back-icon {
      margin-top: 10px;
      margin-left: 5px;
      width: 30px;
      height: 30px;
    }
  }
  & .title {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: rgba(249, 249, 249, 1);
    color: rgba(49, 63, 72, 1);
    font-size: 16px;
    text-indent: 24px;
  }
  & .info-list-jyfw {
    padding-right: 24px ;
    & dd {
      white-space: pre-wrap;
      height: auto !important;
      min-height: 18px;
      line-height: 22px !important;
      word-break: break-word;
    }
  }
  & .info-list {
    display: block;
    padding-left: 24px;
    margin-top: 16px;
    & dt {
      height: 30px;
      line-height: 30px;
      color: rgba(4, 103, 224, 1);
      font-size: 11px;
    }
    & dd {
      height: 18px;
      line-height: 18px;
      font-size: 16px;
      color: rgba(47, 47, 47, 1);
    }
  }
}

















