html:not([data-scale]) .settle-list :global(.am-list-body .am-list-item:last-child .am-list-line::after) {
  height: 0;
}
.settle-list {
  overflow: hidden;
  & :global(.am-list-header) {
    color: #313f48;
    & p {
      & span {
        margin-right: 10px;
        & i {
          color: #FA6B6D;
        }
      }
    }
  }
  & :global(.am-list-body) {
    background-color: transparent;
  }
  & .pending-model {
    background: #fff;
    margin-top: 10px;
    &.tobe {
      & dt {
        & span {
          color: #1298FC;
        }
      }
    }
    &.reject {
      & dt {
        & span {
          color: #0bc30b;
        }
      }
    }
    &.apply {
      & dt {
        & span {
          color: #00BECC;
        }
      }
    }
    & dt {
      padding: 0 10px;
      height: 44px;
      overflow: hidden;
      & time {
        float: left;
        line-height: 44px;
        color: #666666;
        font-size:14px;
      }
      & span {
        float: right;
        font-size:14px;
        line-height: 44px;
      }
    }
    & dd {
      & .user-info {
        padding: 10px;
        overflow: hidden;
        & img {
          float: left;
          width: 60px;
          height: 60px;
          margin-right: 10px;
        }
        & .info-right {
          float: left;
          & h4 {
            font-size: 15px;
            color: #333;
            font-weight: 400;
            line-height: 20px;
          }
          & time {
            font-size: 14px;
            color: #666;
            line-height: 16px;
          }
          & p {
            font-size: 14px;
            color: #FA6B6D;
            line-height: 24px;
          }
        }
      }
      & footer {
        height: 20px;
        padding: 10px;
        overflow: hidden;
        & p {
          display: inline-block;
          margin-right: 16px;
          font-size: 14px;
          color: #999;
          overflow: hidden;
          &:last-child {
            margin-right: 0;
          }
          & svg {
            float: left;
            width: 16px;
            height: 16px;
            margin-top: 2px;
            color: #999;
            margin-right: 5px;
          }
          & span {
            float: left;
            margin-top: 2px;
          }
        }
      }
    }
  }
}
